.layer1 {
  animation: moveUp 500s linear infinite;
  position: fixed;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 10 !important;
  box-shadow: 186vw 53vh transparent, 34vw 12vh #fff, 56vw 24vh #fff, 90vw 94vh #fff, 83vw 41vh #fff, 41vw 68vh #fff, 65vw 74vh #fff, 56vw 25vh #fff, 30vw 33vh #fff, 24vw 5vh #fff, 13vw 67vh #fff, 82vw 21vh #fff, 20vw 67vh #fff, 53vw 18vh #fff, 99vw 85vh #fff, 59vw 20vh #fff, 53vw 50vh #fff, 93vw 32vh #fff, 23vw 88vh #fff, 14vw 32vh #fff, 81vw 54vh #fff, 66vw 27vh #fff, 63vw 72vh #fff, 21vw 73vh #fff, 69vw 91vh #fff, 67vw 42vh #fff, 78vw 31vh #fff, 69vw 96vh #fff, 92vw 20vh #fff, 91vw 54vh #fff, 11vw 18vh #fff, 56vw 9vh #fff, 51vw 54vh #fff, 28vw 39vh #fff, 43vw 50vh #fff, 75vw 86vh #fff, 37vw 6vh #fff, 14vw 88vh #fff, 85vw 7vh #fff, 97vw 62vh #fff, 22vw 94vh #fff, 80vw 86vh #fff, 59vw 57vh #fff, 35vw 18vh #fff, 40vw 82vh #fff, 52vw 38vh #fff, 96vw 46vh #fff, 43vw 64vh #fff, 43vw 10vh #fff, 51vw 45vh #fff, 83vw 80vh #fff, 41vw 27vh #fff, 45vw 75vh #fff, 4vw 42vh #fff, 28vw 54vh #fff, 20vw 17vh #fff, 65vw 14vh #fff, 23vw 34vh #fff, 46vw 33vh #fff, 2vw 71vh #fff, 50vw 83vh #fff, 55vw 36vh #fff, 75vw 12vh #fff, 22vw 98vh #fff, 4vw 84vh #fff, 56vw 97vh #fff, 69vw 10vh #fff, 13vw 78vh #fff, 28vw 83vh #fff, 13vw 91vh #fff, 53vw 56vh #fff, 92vw 82vh #fff, 28vw 30vh #fff, 58vw 12vh #fff, 17vw 38vh #fff, 80vw 86vh #fff, 71vw 53vh #fff, 43vw 15vh #fff, 16vw 38vh #fff, 56vw 89vh #fff, 74vw 26vh #fff, 9vw 67vh #fff, 96vw 44vh #fff, 14vw 95vh #fff, 98vw 22vh #fff, 63vw 26vh #fff, 1vw 73vh #fff, 7vw 97vh #fff, 2vw 47vh #fff, 60vw 81vh #fff, 24vw 84vh #fff, 87vw 5vh #fff, 97vw 24vh #fff, 85vw 50vh #fff, 27vw 1vh #fff, 13vw 12vh #fff, 60vw 44vh #fff, 36vw 13vh #fff, 43vw 15vh #fff, 97vw 42vh #fff, 93vw 27vh #fff, 84vw 18vh #fff, 26vw 22vh #fff, 59vw 89vh #fff, 19vw 74vh #fff, 8vw 53vh #fff, 37vw 6vh #fff, 60vw 74vh #fff, 4vw 54vh #fff, 32vw 73vh #fff, 71vw 31vh #fff, 62vw 61vh #fff, 38vw 76vh #fff, 93vw 30vh #fff, 84vw 16vh #fff, 73vw 95vh #fff, 46vw 27vh #fff, 1vw 5vh #fff, 5vw 67vh #fff, 95vw 77vh #fff, 99vw 16vh #fff, 28vw 95vh #fff, 94vw 11vh #fff, 43vw 90vh #fff, 98vw 52vh #fff, 19vw 38vh #fff, 64vw 69vh #fff, 12vw 75vh #fff, 63vw 66vh #fff, 39vw 52vh #fff, 5vw 45vh #fff, 34vw 70vh #fff, 27vw 43vh #fff, 94vw 44vh #fff, 50vw 59vh #fff, 55vw 63vh #fff, 98vw 47vh #fff, 16vw 56vh #fff, 1vw 37vh #fff, 93vw 61vh #fff, 90vw 20vh #fff, 72vw 23vh #fff, 21vw 32vh #fff, 82vw 43vh #fff, 24vw 92vh #fff, 6vw 49vh #fff, 16vw 31vh #fff, 28vw 12vh #fff, 67vw 48vh #fff, 62vw 29vh #fff, 62vw 23vh #fff, 86vw 67vh #fff, 50vw 26vh #fff, 42vw 71vh #fff, 56vw 40vh #fff, 60vw 67vh #fff, 45vw 94vh #fff, 51vw 35vh #fff, 55vw 73vh #fff, 27vw 16vh #fff, 16vw 85vh #fff, 44vw 25vh #fff, 13vw 100vh #fff, 45vw 57vh #fff, 21vw 68vh #fff, 92vw 10vh #fff, 67vw 32vh #fff, 45vw 37vh #fff, 93vw 68vh #fff, 2vw 94vh #fff, 49vw 93vh #fff, 90vw 43vh #fff, 60vw 22vh #fff, 56vw 93vh #fff, 36vw 63vh #fff, 1vw 11vh #fff, 81vw 93vh #fff, 62vw 35vh #fff, 34vw 52vh #fff, 64vw 20vh #fff, 57vw 67vh #fff, 46vw 75vh #fff, 50vw 28vh #fff, 8vw 19vh #fff, 64vw 82vh #fff, 63vw 5vh #fff, 30vw 48vh #fff, 68vw 12vh #fff, 46vw 22vh #fff, 27vw 65vh #fff, 71vw 62vh #fff, 27vw 25vh #fff, 2vw 21vh #fff, 4vw 64vh #fff, 95vw 43vh #fff, 17vw 82vh #fff, 7vw 2vh #fff, 29vw 88vh #fff, 32vw 61vh #fff, 31vw 94vh #fff, 95vw 43vh #fff, 99vw 86vh #fff, 97vw 14vh #fff, 75vw 59vh #fff, 83vw 31vh #fff, 87vw 5vh #fff, 22vw 67vh #fff, 3vw 70vh #fff, 71vw 86vh #fff, 34vw 66vh #fff, 85vw 46vh #fff, 17vw 66vh #fff, 99vw 80vh #fff, 61vw 31vh #fff, 75vw 72vh #fff, 77vw 79vh #fff, 69vw 58vh #fff, 12vw 12vh #fff, 83vw 25vh #fff, 17vw 10vh #fff, 41vw 19vh #fff, 56vw 91vh #fff, 95vw 41vh #fff, 25vw 11vh #fff, 57vw 33vh #fff, 69vw 54vh #fff, 80vw 94vh #fff, 15vw 76vh #fff, 89vw 80vh #fff, 23vw 97vh #fff, 11vw 92vh #fff, 87vw 7vh #fff, 31vw 80vh #fff, 40vw 3vh #fff, 97vw 41vh #fff, 48vw 52vh #fff, 59vw 55vh #fff, 97vw 90vh #fff, 10vw 17vh #fff, 40vw 73vh #fff, 15vw 84vh #fff, 25vw 46vh #fff, 63vw 20vh #fff, 31vw 43vh #fff, 24vw 39vh #fff, 79vw 40vh #fff, 45vw 69vh #fff, 71vw 24vh #fff, 52vw 15vh #fff, 66vw 56vh #fff, 9vw 81vh #fff, 79vw 7vh #fff, 22vw 100vh #fff, 13vw 78vh #fff, 39vw 94vh #fff, 35vw 8vh #fff, 25vw 30vh #fff, 100vw 77vh #fff, 8vw 13vh #fff, 94vw 43vh #fff, 91vw 25vh #fff, 21vw 3vh #fff, 9vw 77vh #fff, 23vw 10vh #fff, 96vw 85vh #fff, 92vw 96vh #fff, 34vw 61vh #fff, 77vw 85vh #fff, 6vw 43vh #fff, 48vw 2vh #fff, 51vw 25vh #fff, 99vw 20vh #fff, 18vw 72vh #fff, 99vw 70vh #fff, 15vw 44vh #fff, 42vw 62vh #fff, 23vw 87vh #fff, 67vw 57vh #fff, 3vw 30vh #fff, 33vw 36vh #fff, 22vw 77vh #fff, 83vw 58vh #fff, 27vw 75vh #fff, 86vw 51vh #fff, 8vw 30vh #fff, 84vw 85vh #fff, 49vw 33vh #fff, 24vw 9vh #fff, 92vw 6vh #fff, 46vw 1vh #fff, 10vw 9vh #fff, 5vw 56vh #fff, 3vw 38vh #fff, 45vw 62vh #fff, 58vw 55vh #fff, 16vw 88vh #fff, 36vw 92vh #fff, 6vw 85vh #fff, 89vw 65vh #fff, 22vw 49vh #fff, 5vw 16vh #fff, 45vw 75vh #fff, 88vw 43vh #fff, 98vw 89vh #fff, 78vw 67vh #fff, 78vw 87vh #fff, 39vw 48vh #fff, 55vw 54vh #fff, 92vw 5vh #fff, 99vw 40vh #fff, 30vw 49vh #fff, 97vw 45vh #fff, 80vw 41vh #fff, 38vw 72vh #fff, 43vw 20vh #fff, 65vw 49vh #fff, 48vw 75vh #fff, 79vw 80vh #fff, 30vw 56vh #fff, 20vw 70vh #fff, 13vw 39vh #fff, 41vw 45vh #fff, 32vw 57vh #fff, 23vw 71vh #fff, 5vw 100vh #fff, 36vw 85vh #fff, 26vw 3vh #fff, 78vw 18vh #fff, 35vw 17vh #fff, 31vw 84vh #fff, 48vw 14vh #fff, 10vw 32vh #fff, 53vw 41vh #fff, 99vw 45vh #fff, 52vw 55vh #fff, 67vw 79vh #fff, 33vw 13vh #fff, 12vw 1vh #fff, 93vw 51vh #fff, 44vw 3vh #fff, 85vw 55vh #fff, 29vw 54vh #fff, 49vw 91vh #fff, 82vw 73vh #fff, 64vw 12vh #fff, 30vw 15vh #fff, 62vw 49vh #fff, 38vw 33vh #fff, 34vw 86vh #fff, 54vw 65vh #fff, 11vw 79vh #fff, 34vw 82vh #fff, 55vw 26vh #fff, 93vw 10vh #fff, 20vw 98vh #fff, 32vw 8vh #fff, 82vw 65vh #fff, 60vw 38vh #fff, 70vw 6vh #fff, 70vw 99vh #fff, 50vw 17vh #fff, 39vw 97vh #fff, 98vw 26vh #fff, 83vw 43vh #fff, 49vw 73vh #fff, 83vw 87vh #fff, 32vw 76vh #fff, 42vw 81vh #fff, 38vw 96vh #fff, 98vw 23vh #fff, 46vw 98vh #fff, 71vw 15vh #fff, 50vw 94vh #fff, 50vw 46vh #fff, 15vw 87vh #fff, 16vw 89vh #fff, 67vw 90vh #fff, 77vw 2vh #fff, 54vw 70vh #fff, 75vw 33vh #fff, 50vw 6vh #fff, 76vw 35vh #fff, 91vw 6vh #fff, 66vw 8vh #fff, 51vw 78vh #fff, 10vw 93vh #fff, 77vw 76vh #fff, 2vw 76vh #fff, 33vw 71vh #fff, 9vw 28vh #fff, 74vw 92vh #fff, 84vw 25vh #fff, 78vw 59vh #fff, 83vw 50vh #fff, 47vw 24vh #fff, 69vw 22vh #fff, 82vw 84vh #fff, 59vw 63vh #fff, 37vw 39vh #fff, 69vw 47vh #fff, 37vw 70vh #fff, 19vw 38vh #fff, 32vw 16vh #fff, 85vw 51vh #fff, 81vw 36vh #fff, 85vw 25vh #fff, 67vw 83vh #fff, 3vw 7vh #fff, 66vw 36vh #fff, 12vw 35vh #fff, 8vw 100vh #fff, 12vw 55vh #fff, 69vw 8vh #fff, 38vw 88vh #fff, 55vw 8vh #fff, 30vw 44vh #fff, 100vw 34vh #fff, 40vw 29vh #fff, 62vw 93vh #fff, 6vw 44vh #fff, 34vw 84vh #fff, 60vw 46vh #fff, 81vw 84vh #fff, 71vw 72vh #fff, 80vw 71vh #fff, 69vw 43vh #fff, 1vw 18vh #fff, 30vw 46vh #fff, 56vw 8vh #fff, 4vw 27vh #fff, 95vw 84vh #fff, 64vw 65vh #fff, 52vw 3vh #fff, 37vw 22vh #fff, 2vw 38vh #fff, 93vw 39vh #fff, 99vw 30vh #fff, 100vw 22vh #fff, 64vw 38vh #fff, 30vw 54vh #fff, 30vw 7vh #fff, 80vw 23vh #fff, 4vw 18vh #fff, 14vw 69vh #fff, 48vw 30vh #fff, 55vw 21vh #fff, 60vw 93vh #fff, 29vw 88vh #fff, 47vw 21vh #fff, 91vw 86vh #fff, 11vw 20vh #fff, 41vw 11vh #fff, 38vw 8vh #fff, 76vw 11vh #fff, 17vw 79vh #fff, 83vw 46vh #fff, 4vw 34vh #fff, 67vw 93vh #fff, 67vw 34vh #fff, 2vw 46vh #fff, 10vw 90vh #fff, 61vw 98vh #fff, 45vw 35vh #fff, 28vw 22vh #fff, 20vw 2vh #fff, 9vw 68vh #fff, 49vw 100vh #fff, 19vw 50vh #fff, 26vw 80vh #fff, 34vw 40vh #fff, 87vw 89vh #fff, 50vw 43vh #fff, 3vw 99vh #fff, 53vw 20vh #fff, 65vw 11vh #fff, 94vw 70vh #fff, 85vw 28vh #fff, 81vw 54vh #fff, 30vw 51vh #fff, 94vw 49vh #fff, 84vw 75vh #fff, 72vw 44vh #fff, 49vw 97vh #fff, 56vw 48vh #fff, 84vw 21vh #fff, 50vw 55vh #fff, 62vw 32vh #fff, 93vw 16vh #fff, 53vw 14vh #fff, 95vw 6vh #fff, 67vw 4vh #fff, 32vw 32vh #fff, 44vw 19vh #fff, 80vw 20vh #fff, 13vw 86vh #fff, 39vw 35vh #fff, 93vw 19vh #fff, 17vw 27vh #fff, 31vw 58vh #fff, 61vw 58vh #fff;
}
.layer1::after {
  content: "";
  position: fixed;
  left: 0;
  top: 100vh;
  z-index: 10 !important;
  border-radius: inherit;
  width: inherit;
  height: inherit;
  box-shadow: inherit;
}

.layer2 {
  animation: moveUp 250s linear infinite;
  position: fixed;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 10 !important;
  box-shadow: 252vw 70vh transparent, 84vw 6vh #fff, 30vw 35vh #fff, 4vw 42vh #fff, 63vw 28vh #fff, 79vw 77vh #fff, 61vw 32vh #fff, 89vw 72vh #fff, 23vw 48vh #fff, 49vw 74vh #fff, 25vw 33vh #fff, 79vw 69vh #fff, 49vw 31vh #fff, 10vw 52vh #fff, 81vw 74vh #fff, 1vw 17vh #fff, 66vw 8vh #fff, 60vw 64vh #fff, 90vw 75vh #fff, 30vw 19vh #fff, 58vw 62vh #fff, 47vw 78vh #fff, 99vw 63vh #fff, 32vw 28vh #fff, 65vw 71vh #fff, 14vw 13vh #fff, 16vw 73vh #fff, 87vw 7vh #fff, 98vw 77vh #fff, 49vw 45vh #fff, 82vw 13vh #fff, 94vw 96vh #fff, 60vw 4vh #fff, 47vw 9vh #fff, 6vw 21vh #fff, 6vw 1vh #fff, 16vw 72vh #fff, 2vw 8vh #fff, 2vw 21vh #fff, 34vw 18vh #fff, 55vw 96vh #fff, 1vw 7vh #fff, 44vw 35vh #fff, 23vw 68vh #fff, 71vw 72vh #fff, 40vw 31vh #fff, 67vw 3vh #fff, 42vw 40vh #fff, 72vw 72vh #fff, 10vw 86vh #fff, 99vw 77vh #fff, 5vw 19vh #fff, 21vw 54vh #fff, 85vw 17vh #fff, 96vw 10vh #fff, 71vw 50vh #fff, 17vw 49vh #fff, 53vw 24vh #fff, 78vw 60vh #fff, 61vw 15vh #fff, 81vw 7vh #fff, 88vw 96vh #fff, 6vw 27vh #fff, 1vw 78vh #fff, 6vw 38vh #fff, 90vw 15vh #fff, 18vw 1vh #fff, 23vw 42vh #fff, 63vw 49vh #fff, 48vw 16vh #fff, 60vw 75vh #fff, 79vw 5vh #fff, 54vw 8vh #fff, 36vw 5vh #fff, 27vw 96vh #fff, 23vw 26vh #fff, 21vw 66vh #fff, 49vw 100vh #fff, 54vw 61vh #fff, 51vw 96vh #fff, 18vw 58vh #fff, 68vw 89vh #fff, 55vw 12vh #fff, 72vw 14vh #fff, 26vw 75vh #fff, 48vw 100vh #fff, 22vw 21vh #fff, 30vw 65vh #fff, 17vw 40vh #fff, 44vw 11vh #fff, 44vw 25vh #fff, 11vw 100vh #fff, 16vw 50vh #fff, 47vw 69vh #fff, 30vw 94vh #fff, 48vw 88vh #fff, 91vw 75vh #fff, 19vw 46vh #fff, 51vw 9vh #fff, 77vw 93vh #fff, 62vw 11vh #fff, 99vw 30vh #fff, 20vw 42vh #fff, 3vw 82vh #fff, 78vw 45vh #fff, 4vw 50vh #fff, 25vw 2vh #fff, 77vw 7vh #fff, 41vw 91vh #fff, 13vw 55vh #fff, 54vw 85vh #fff, 74vw 52vh #fff, 59vw 82vh #fff, 32vw 7vh #fff, 64vw 73vh #fff, 93vw 35vh #fff, 47vw 53vh #fff, 91vw 42vh #fff, 20vw 56vh #fff, 4vw 86vh #fff, 94vw 65vh #fff, 41vw 64vh #fff, 24vw 67vh #fff, 12vw 75vh #fff, 30vw 85vh #fff, 55vw 19vh #fff, 55vw 55vh #fff, 86vw 18vh #fff, 45vw 68vh #fff, 69vw 80vh #fff, 95vw 34vh #fff, 80vw 77vh #fff, 9vw 78vh #fff, 72vw 53vh #fff, 24vw 84vh #fff, 72vw 7vh #fff, 95vw 3vh #fff, 69vw 26vh #fff, 52vw 22vh #fff, 86vw 88vh #fff, 6vw 49vh #fff, 65vw 3vh #fff, 62vw 51vh #fff, 99vw 40vh #fff, 41vw 20vh #fff, 93vw 66vh #fff, 29vw 65vh #fff, 92vw 44vh #fff, 35vw 19vh #fff, 7vw 44vh #fff, 25vw 15vh #fff, 48vw 71vh #fff, 84vw 48vh #fff, 90vw 86vh #fff, 68vw 43vh #fff, 16vw 86vh #fff, 55vw 46vh #fff, 100vw 58vh #fff, 99vw 36vh #fff, 42vw 48vh #fff, 27vw 85vh #fff, 3vw 27vh #fff, 43vw 66vh #fff, 92vw 54vh #fff, 89vw 60vh #fff, 95vw 100vh #fff, 8vw 49vh #fff, 3vw 60vh #fff, 30vw 17vh #fff, 24vw 14vh #fff, 64vw 82vh #fff, 78vw 52vh #fff, 88vw 83vh #fff, 11vw 85vh #fff, 74vw 94vh #fff, 46vw 84vh #fff, 2vw 12vh #fff, 48vw 48vh #fff, 65vw 48vh #fff, 46vw 79vh #fff, 9vw 97vh #fff, 18vw 4vh #fff, 7vw 42vh #fff, 43vw 32vh #fff, 50vw 13vh #fff, 81vw 89vh #fff, 99vw 92vh #fff, 2vw 45vh #fff, 6vw 52vh #fff, 26vw 97vh #fff, 29vw 72vh #fff, 39vw 63vh #fff, 22vw 83vh #fff, 69vw 18vh #fff, 6vw 88vh #fff, 52vw 83vh #fff, 36vw 43vh #fff, 12vw 86vh #fff, 76vw 25vh #fff, 82vw 35vh #fff, 25vw 19vh #fff, 98vw 31vh #fff, 56vw 94vh #fff, 8vw 90vh #fff, 63vw 65vh #fff, 16vw 76vh #fff, 72vw 96vh #fff, 37vw 79vh #fff, 85vw 22vh #fff, 95vw 1vh #fff, 41vw 9vh #fff, 10vw 49vh #fff, 16vw 94vh #fff, 72vw 7vh #fff, 53vw 42vh #fff, 74vw 69vh #fff, 14vw 62vh #fff, 4vw 28vh #fff, 32vw 89vh #fff, 78vw 66vh #fff, 39vw 54vh #fff, 26vw 64vh #fff, 53vw 9vh #fff, 20vw 68vh #fff, 98vw 2vh #fff, 30vw 90vh #fff, 28vw 46vh #fff, 16vw 86vh #fff, 28vw 58vh #fff, 42vw 93vh #fff, 28vw 62vh #fff, 25vw 42vh #fff, 19vw 74vh #fff, 8vw 95vh #fff, 21vw 4vh #fff, 63vw 46vh #fff, 50vw 83vh #fff, 8vw 85vh #fff, 36vw 98vh #fff, 92vw 63vh #fff, 92vw 93vh #fff, 16vw 40vh #fff, 33vw 36vh #fff, 94vw 38vh #fff, 31vw 92vh #fff, 95vw 1vh #fff, 88vw 45vh #fff, 14vw 50vh #fff, 82vw 81vh #fff, 30vw 39vh #fff;
}
.layer2::after {
  content: "";
  position: fixed;
  left: 0;
  top: 100vh;
  z-index: 10 !important;
  border-radius: inherit;
  width: inherit;
  height: inherit;
  box-shadow: inherit;
}

.layer3 {
  animation: moveUp 125s linear infinite;
  position: fixed;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 10 !important;
  box-shadow: 282vw 2vh transparent, 29vw 51vh #fff, 64vw 8vh #fff, 79vw 37vh #fff, 20vw 79vh #fff, 86vw 91vh #fff, 13vw 88vh #fff, 37vw 11vh #fff, 40vw 63vh #fff, 9vw 67vh #fff, 29vw 16vh #fff, 75vw 12vh #fff, 19vw 30vh #fff, 79vw 29vh #fff, 40vw 84vh #fff, 23vw 81vh #fff, 91vw 8vh #fff, 90vw 52vh #fff, 88vw 49vh #fff, 50vw 44vh #fff, 25vw 58vh #fff, 67vw 53vh #fff, 52vw 70vh #fff, 97vw 5vh #fff, 45vw 31vh #fff, 33vw 75vh #fff, 99vw 58vh #fff, 40vw 46vh #fff, 12vw 76vh #fff, 11vw 90vh #fff, 99vw 27vh #fff, 60vw 2vh #fff, 46vw 38vh #fff, 74vw 52vh #fff, 31vw 92vh #fff, 87vw 86vh #fff, 87vw 97vh #fff, 4vw 94vh #fff, 15vw 77vh #fff, 61vw 27vh #fff, 10vw 7vh #fff, 84vw 22vh #fff, 96vw 4vh #fff, 3vw 38vh #fff, 59vw 92vh #fff, 69vw 27vh #fff, 58vw 8vh #fff, 38vw 55vh #fff, 10vw 53vh #fff, 82vw 80vh #fff, 81vw 7vh #fff, 68vw 51vh #fff, 87vw 62vh #fff, 67vw 1vh #fff, 24vw 80vh #fff, 40vw 87vh #fff, 6vw 92vh #fff, 19vw 96vh #fff, 9vw 29vh #fff, 28vw 10vh #fff, 86vw 71vh #fff, 8vw 55vh #fff, 9vw 94vh #fff, 49vw 6vh #fff, 34vw 36vh #fff, 84vw 39vh #fff, 97vw 70vh #fff, 85vw 23vh #fff, 11vw 32vh #fff, 32vw 22vh #fff, 1vw 14vh #fff, 66vw 32vh #fff, 25vw 60vh #fff, 1vw 84vh #fff, 5vw 38vh #fff, 40vw 45vh #fff, 34vw 14vh #fff, 89vw 35vh #fff, 59vw 25vh #fff, 34vw 18vh #fff, 26vw 87vh #fff, 26vw 80vh #fff, 28vw 13vh #fff, 97vw 11vh #fff, 88vw 31vh #fff, 58vw 44vh #fff, 74vw 74vh #fff, 45vw 91vh #fff, 4vw 44vh #fff, 96vw 56vh #fff, 97vw 5vh #fff, 10vw 34vh #fff, 48vw 7vh #fff, 84vw 98vh #fff, 85vw 27vh #fff, 38vw 27vh #fff, 24vw 12vh #fff, 12vw 5vh #fff, 23vw 22vh #fff, 85vw 88vh #fff, 49vw 16vh #fff, 7vw 49vh #fff, 18vw 17vh #fff, 92vw 83vh #fff, 43vw 19vh #fff, 49vw 89vh #fff, 7vw 9vh #fff, 45vw 52vh #fff, 3vw 23vh #fff, 21vw 100vh #fff, 10vw 88vh #fff, 72vw 97vh #fff, 85vw 27vh #fff, 15vw 40vh #fff, 91vw 17vh #fff, 78vw 30vh #fff, 18vw 35vh #fff, 86vw 72vh #fff, 86vw 21vh #fff, 82vw 100vh #fff, 83vw 34vh #fff, 93vw 99vh #fff, 55vw 34vh #fff, 78vw 76vh #fff, 10vw 59vh #fff;
}
.layer3::after {
  content: "";
  position: fixed;
  left: 0;
  top: 100vh;
  z-index: 10 !important;
  border-radius: inherit;
  width: inherit;
  height: inherit;
  box-shadow: inherit;
}

.layer4 {
  animation: moveUp 62.5s linear infinite;
  position: fixed;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 10 !important;
  box-shadow: 132vw 5vh transparent, 8vw 82vh #fff, 11vw 72vh #fff, 84vw 77vh #fff, 82vw 59vh #fff, 40vw 86vh #fff, 80vw 78vh #fff, 73vw 64vh #fff, 96vw 15vh #fff, 23vw 30vh #fff, 17vw 21vh #fff, 62vw 32vh #fff, 79vw 20vh #fff, 9vw 31vh #fff, 66vw 23vh #fff, 35vw 14vh #fff, 47vw 87vh #fff, 36vw 44vh #fff, 61vw 51vh #fff, 38vw 46vh #fff, 70vw 86vh #fff, 11vw 62vh #fff, 29vw 26vh #fff, 16vw 100vh #fff, 47vw 27vh #fff, 42vw 34vh #fff, 23vw 100vh #fff, 56vw 80vh #fff, 6vw 34vh #fff, 80vw 41vh #fff, 12vw 38vh #fff, 32vw 18vh #fff, 42vw 18vh #fff, 45vw 62vh #fff, 51vw 66vh #fff, 13vw 87vh #fff, 81vw 18vh #fff, 68vw 43vh #fff, 59vw 39vh #fff, 65vw 81vh #fff, 32vw 64vh #fff, 53vw 97vh #fff, 61vw 48vh #fff, 35vw 59vh #fff, 21vw 13vh #fff, 63vw 37vh #fff, 10vw 2vh #fff, 99vw 42vh #fff, 37vw 80vh #fff, 97vw 88vh #fff, 56vw 100vh #fff, 63vw 30vh #fff, 62vw 35vh #fff, 80vw 6vh #fff, 10vw 37vh #fff, 24vw 63vh #fff, 85vw 87vh #fff, 45vw 12vh #fff, 72vw 74vh #fff, 84vw 48vh #fff, 58vw 60vh #fff, 64vw 76vh #fff;
}
.layer4::after {
  content: "";
  position: fixed;
  left: 0;
  top: 100vh;
  z-index: 10 !important;
  border-radius: inherit;
  width: inherit;
  height: inherit;
  box-shadow: inherit;
}

.layer5 {
  animation: moveUp 31.25s linear infinite;
  position: fixed;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 10 !important;
  box-shadow: 210vw 33vh transparent, 65vw 50vh #fff, 38vw 45vh #fff, 10vw 98vh #fff, 19vw 53vh #fff, 62vw 5vh #fff, 6vw 86vh #fff, 90vw 26vh #fff, 93vw 19vh #fff, 17vw 27vh #fff, 80vw 23vh #fff, 55vw 96vh #fff, 43vw 79vh #fff, 42vw 4vh #fff, 9vw 99vh #fff, 3vw 54vh #fff, 42vw 45vh #fff, 75vw 33vh #fff, 31vw 53vh #fff, 63vw 31vh #fff, 45vw 48vh #fff, 44vw 69vh #fff, 24vw 73vh #fff, 83vw 98vh #fff, 98vw 28vh #fff, 22vw 24vh #fff, 47vw 21vh #fff, 75vw 85vh #fff, 64vw 69vh #fff, 93vw 12vh #fff, 100vw 84vh #fff;
}
.layer5::after {
  content: "";
  position: fixed;
  left: 0;
  top: 100vh;
  z-index: 10 !important;
  border-radius: inherit;
  width: inherit;
  height: inherit;
  box-shadow: inherit;
}

.layer6 {
  animation: moveUp 15.625s linear infinite;
  position: fixed;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 10 !important;
  box-shadow: 67vw 69vh transparent, 95vw 78vh #fff, 1vw 33vh #fff, 10vw 70vh #fff, 16vw 65vh #fff, 14vw 52vh #fff, 34vw 14vh #fff, 55vw 11vh #fff, 40vw 1vh #fff, 57vw 91vh #fff, 66vw 1vh #fff, 75vw 75vh #fff, 34vw 27vh #fff, 36vw 2vh #fff, 83vw 21vh #fff;
}
.layer6::after {
  content: "";
  position: fixed;
  left: 0;
  top: 100vh;
  z-index: 10 !important;
  border-radius: inherit;
  width: inherit;
  height: inherit;
  box-shadow: inherit;
}

.title {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes moveUp {
  to {
    transform: translateY(-100vh);
  }
}

/*# sourceMappingURL=star.css.map */
