@function getShadows($n) {
  $shadows: '#{random(300)}vw #{random(100)}vh transparent';
  @for $i from 2 through $n {
    $shadows: '#{$shadows}, #{random(100)}vw #{random(100)}vh #fff';
  }
  @return unquote($shadows);
}

$duration: 1000s;
$count: 1000;
@for $i from 1 through 6 {
  $duration: $duration / 2;
  $count: floor($count / 2);
  .layer#{$i} {
    $size: #{$i}px;
    animation: moveUp $duration linear infinite;
    position: fixed;
    width: $size;
    height: $size;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-shadow: getShadows($count);

    &::after {
      content: '';
      position: fixed;
      left: 0;
      top: 100vh;
      border-radius: inherit;
      width: inherit;
      height: inherit;
      box-shadow: inherit;

    }
  }
}


.title {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes moveUp {
  to {
    transform: translateY(-100vh);
  }
}