{% extends 'layout.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block content %}
    <style>

        .scores, .song-font, .table-title, .star, .star_after_score, .star.rated, .artist {
            font-family: "Work Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }

        img {
            max-width: 100%; /* 图片最大宽度为容器宽度，保持比例 */
            height: auto; /* 高度自动调整 */
        }


        table {
            width: 100%;
            table-layout: fixed; /* 确保列宽固定不变 */
            border-collapse: collapse; /* 移除单元格之间的间隙 */
            white-space: nowrap;
        }

        table th, table td {
            border: none;
            padding: 0;
            text-align: center;
            vertical-align: middle;
            height: 10vw;
            width: 10vw;
        }

        {#table img {#}
        {#    width: 100px; #}
        {#    height: 100px; #}
        {#    object-fit: fill; #}
        {#    display: block; #}
        {#    margin: 0;#}

        table img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            display: block;
            margin: 0;
        }


        th.rank, td.rank {
            width: 10vw;
        }

        th.pic, td.pic {
            width: auto;
            height: auto;
        }

        .score {
            width: 10vw;
        }

        .scores {
            font-size: 25px;
            font-weight: 600;
            font-family: "Work Sans", sans-serif;;
            font-optical-sizing: auto;
            font-style: normal;
            width: 10vw;
        }


        th.song, td.song {
            width: 20vw;
        }

        th.artist, td.artist {
            text-align: left;
            width: 18vw;
        }

        th.weeks, td.weeks {
            width: 10vw;
        }

        .table-row .rank {
            font-size: 30px;
            color: white;
            font-weight: 400;
        }

        .song-font {
            font-family: "Work Sans", sans-serif;;
            font-size: 27px;
            color: black;
            font-weight: 600;
            font-optical-sizing: auto;
            font-style: normal;
        }


        .song-text {
            border: none;
            text-align: left; /* 使文本靠左对齐 */
            vertical-align: middle; /* 使文本垂直居中 */
            height: 35px; /* 你可以根据需要设置合适的高度 */
        }

        .table-row .rank {
            font-weight: 600;
            font-family: "Work Sans", sans-serif;;
            font-optical-sizing: auto;
            font-style: normal;
        }

        .table-row .artist {
            font-weight: 400;
            font-family: "Work Sans", sans-serif;;
            font-optical-sizing: auto;
            font-style: normal;
        }

        .table-row .weeks {
            font-weight: 400;
            font-family: "Work Sans", sans-serif;;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 20px;
        }

        .table-title {
            font-weight: 700;
            font-family: "Work Sans", sans-serif;;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 20px;
        }

        .star {
            cursor: pointer;
            color: grey; /* 初始颜色为白色 */
            font-size: 28px;
        }

        .star.rated {
            color: gold; /* 评分后的星星颜色 */
            font-size: 28px;
        }

        .star_after_score {
            color: gold;
            font-size: 30px;
        }

        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
        }


        img {
            max-width: 100%;
            height: auto;
        }

        }

        .song-font, .artist {
            font-family: "Arial Black", serif;
        }

        .song-font {
            font-size: 27px;
            color: black;
            font-weight: 600;
        }

        .artist {
            text-align: left;
            font-size: 16px;
            font-weight: 400;
        }

        .star, .star_after_score {
            cursor: pointer;
            color: grey;
            font-size: 28px;
        }

        .star.rated, .star_after_score {
            color: gold;
        }

        .carousel {
            height: 60vh;
            overflow: hidden; /* 隐藏超出部分 */
        }

        .carousel-inner {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .carousel-inner .item {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .carousel-inner .item img {
            position: absolute;
            top: 50%; /* 垂直居中 */
            left: 50%; /* 水平居中 */
            transform: translate(-50%, -50%); /* 精确调整图片位置 */
            max-height: 100%; /* 限制最大高度，不超过轮播图的高度 */
            width: auto; /* 自动调整宽度 */
        }

        @media (max-width: 768px) {
            .chart-container {
                margin: 0;
                overflow-x: auto;
            }

            table {
                width: 100%;
                table-layout: fixed;
                border-collapse: collapse;
                white-space: nowrap;
            }
        }

        .rating {
            width: 10%;
        }

        @media (max-width: 1200px) {
            .scores, .song-font {
                font-size: 20px;
                font-weight: 500; /* 适度粗细 */
            }

            .artist {
                font-size: 14px;
                font-weight: 400; /* 维持细字体 */
            }

            .table-title, .star, .star_after_score, .star.rated {
                font-size: 16px;
                font-weight: 400; /* 常规粗细 */
            }
        }

        @media (max-width: 768px) {
            .scores, .song-font {
                font-size: 18px;
                font-weight: 500;
            }

            .artist {
                font-size: 12px;
                font-weight: 300;
            }

            .table-title, .star, .star_after_score, .star.rated {
                font-size: 14px;
                font-weight: 400;
            }

            .container {
                margin-left: 0 !important;
            }

            table img {
                width: 100px;
                height: 100px;
                object-fit: fill;
                display: block;
                margin: 0;
            }
        }

        /* 更小屏幕尺寸调整 */
        @media (max-width: 480px) {
            .chart-container {
                max-width: 480px; /* 设置最大宽度为 480px */
                margin: 0 auto; /* 居中显示 */
            }

            table {
                width: 100%;
                max-width: 480px;
                table-layout: fixed;
            }

            table th.rank, table td.rank {
                width: 15%; /* 比例 1 */
            }

            table th.pic, table td.pic {
                width: 15%; /* 比例 1 */
            }

            table th.song, table td.song {
                width: 50%; /* 比例 4 */
            }

            table th.score, table td.score {
                width: 10%; /* 比例 1 */
            }

            table th, table td {
                width: auto;
            }

            .scores, .song-font {
                font-size: 14px; /* 减小字体大小 */
            }

            .artist {
                font-size: 10px;
                font-weight: 300;
            }

            .table-title, .star, .star_after_score, .star.rated {
                font-size: 12px;
            }


            .container {
                margin-left: 0 !important;
            }

            .weeks {
                display: none;
            }

            .rating {
                display: none;
            }

            .rate {
                display: none
            }


            table img {
                width: 70px;
                height: 70px;
                object-fit: fill;
                display: block;
                margin: 0;
            }

        }

    </style>



    <div class="container" id="main-container">

        {#        <div class="col-xs-8">#}
        {#            <div>#}
        {#                <div id="carousel-example-generic" class="carousel slide roll" data-ride="carousel">#}
        {#                    <ol class="carousel-indicators">#}
        {#                        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>#}
        {#                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>#}
        {#                        <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>#}
        {#                    </ol>#}
        {#                    <div class="carousel-inner" role="listbox">#}
        {#                        <div class="item">#}
        {#                            <img src="https://i.scdn.co/image/ab67616d0000b27380d86d636244b72a3a1eede2"#}
        {#                                 data-holder-rendered="true">#}
        {#                        </div>#}
        {#                        <div class="item">#}
        {#                            <img src="https://i.scdn.co/image/ab67616d0000b2737587213b1be294ac4000f648"#}
        {#                                 data-holder-rendered="true">#}
        {#                        </div>#}
        {#                        <div class="item active">#}
        {#                            <img src="https://i.scdn.co/image/ab67616d0000b273bef221ea02a821e7feeda9cf"#}
        {#                                 alt="Third slide [900x500]" data-holder-rendered="true">#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">#}
        {#                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>#}
        {#                        <span class="sr-only">Previous</span>#}
        {#                    </a>#}
        {#                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">#}
        {#                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>#}
        {#                        <span class="sr-only">Next</span>#}
        {#                    </a>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="col-xs-4">#}
        {##}
        {#        </div>#}
        {#        <a href="/charts/add" class="btn" style="background-color: black; color: white;">Add Music</a>#}
        <table class="chart-container">
            <thead>
            <tr>
                <th class="rank table-title">RANK</th>
                <th class="pic table-title">ALBUM</th>
                <th class="song song-text table-title">SONG</th>
                <th class="score table-title">SCORES</th>
                <th class="weeks table-title">WEEKS</th>
                <th class="rate table-title">STARS</th>
            </tr>
            </thead>

            <tbody>
            {% for item in queryset %}
                <tr class="table-row">
                    <td class="rank" style="background-color: black; margin-left: 50px">{{ forloop.counter }}</td>
                    <td class="pic"><img src="{{ item.pic.url }}" alt="Artist Image"></td>
                    <td>
                        <div class="song song-font song-text">
                            <a href="{% url 'charts_comment' item.id %}"
                               style="text-decoration: none; color: black;">{{ item.title }}</a>
                        </div>
                        <div class="artist" style="text-align: left">{{ item.artist }}</div>
                    </td>
                    {% if not item.average_score %}
                        <td class="scores">0 <span class="star_after_score">&#9733;</span>
                        </td>
                    {% else %}
                        <td class="scores">{{ item.average_score | floatformat:1 }}
                            <span class="star_after_score">&#9733;</span>
                        </td>
                    {% endif %}
                    <td class="weeks">{{ item.weeks }}</td>
                    <td>
                        <div class="rating" data-music-id="{{ item.id }}">
                            <span class="star" data-value="1">&#9734;</span>
                            <span class="star" data-value="2">&#9734;</span>
                            <span class="star" data-value="3">&#9734;</span>
                            <span class="star" data-value="4">&#9734;</span>
                            <span class="star" data-value="5">&#9734;</span>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
    <script>
        document.querySelectorAll('.star').forEach(star => {
            star.addEventListener('click', function () {
                let rating = this.dataset.value;
                let ratingContainer = this.parentElement;
                updateRating(ratingContainer, rating);
            });
        });

        function updateRating(ratingContainer, rating) {
            const musicId = ratingContainer.getAttribute('data-music-id');
            // 假设你有某种方式获取当前登录用户的ID，或者后端通过用户的session自动识别
            // const userId = ...;

            for (let i = 0; i < ratingContainer.children.length; i++) {
                let star = ratingContainer.children[i];
                if (i < rating) {
                    star.innerHTML = '&#9733;'; // 实心星星
                    star.classList.add('rated');
                } else {
                    star.innerHTML = '&#9734;'; // 空心星星
                    star.classList.remove('rated');
                }
            }

            // 发送AJAX请求到后端
            fetch('/rate-music/', {
                method: 'POST',
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json',
                    // 添加CSRF令牌是必要的，如果你使用的是Django
                    'X-CSRFToken': getCookie('csrftoken') // 从cookies中获取CSRF令牌
                },
                body: JSON.stringify({
                    musicId: musicId,
                    // userId: userId, // 如果你的后端能自动从session识别用户，则不需要发送userId
                    score: rating,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        // 函数用于从cookies中获取CSRF令牌
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // 判断这个cookie的名称是否是我account们想要的
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


    </script>

    <script>
        /*
        $(function () {
            $('.carousel').carousel({
                interval: 3
            })
        })
        */
    </script>

    <script>
        window.onload = function () {
            checkContainerClass();
            window.addEventListener('resize', checkContainerClass);
        };

        function checkContainerClass() {
            var container = document.getElementById('main-container');
            console.log('Checking container class...'); // 日志输出，帮助调试

            if (window.innerWidth <= 480) {
                console.log('Width is less than 480px. Removing container class.');
                container.classList.remove('container');
            } else {
                console.log('Width is 480px or greater. Adding container class.');
                container.classList.add('container');
            }
        }
    </script>

{% endblock %}