{% extends 'layout.html' %}

{% block content %}
    <style>
        body {
            margin: 0;
            background-color: #000;
            height: auto;
            overflow-x: hidden;
        }

        a {
            text-underline-mode: none;
        }

        .title-section {
            height: 70vh;
            width: 100vw;
            overflow: hidden; /* Hide any overflow */
            position: relative;
        }

        .circle-section {
            display: none;
            opacity: 0;
            transition: opacity 2s ease-in-out;
        }

        .title-container {
            position: relative;
            height: 100%;
            overflow: hidden;
        }

        .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: clip-path 0.1s;
        }

        .image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .image.overlay {
            clip-path: inset(0 100% 0 0);
        }


        .carousel {
            width: 300px;
            height: 300px;
            position: relative;
            perspective: 1500px; /* Increase perspective for more dramatic 3D effect */
        }

        .carousel__track {
            width: 100%;
            height: 100%;
            position: absolute;
            transform-style: preserve-3d;
            animation: rotate 20s infinite linear;
        }

        .carousel__slide {
            width: 80%;
            height: 80%;
            position: absolute;
            top: 10%;
            left: 10%;
            background-size: cover;
            background-position: center;
        }

        @keyframes rotate {
            from {
                transform: rotateY(0deg);
            }
            to {
                transform: rotateY(360deg);
            }
        }

        .first-title {
            display: flex;
            opacity: 0;
            visibility: hidden;
            justify-content: center;
            transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
            align-items: center;
            height: 30vh;
            font-size: 8rem;
            font-weight: 450;
            color: #fff;
        }

        .explore-button {
            margin-bottom: 10%;
            display: none;
            text-align: center;
            align-items: center;
            position: relative;
            height: 10vh;
            font-size: 3rem;
            opacity: 0;
            visibility: hidden;
            transition: opacity 1.5s ease-in-out, visibility 1.5s ease-in-out;
            justify-content: center;
        }


        .title-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .title-video video {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensure the video covers the entire section while maintaining aspect ratio */
        }

        .star-style {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 200%;
            z-index: -1;
        }

        @media (max-width: 576px) {
            .first-title {
                font-size: 3rem; /* Adjust font size for smaller screens */
                height: auto;
                margin-bottom: 10%;
                text-align: center; /* Center text for better readability */
            }

            .title-section {
                height: 18vh;
            }

            .circle-section {
                width: 100%;
                height: auto;
                justify-content: center;
                text-align: center !important;
            }

            .star-style {
                height: 50% !important;
            }

            .layer5 {
                display: none !important;
            }

            .carousel {
                width: 200px;
                height: 200px; /* Adjust carousel height for smaller screens */
            }

            .carousel__slide {
                width: 50%; /* Adjust slide width for smaller screens */
                height: 50%; /* Adjust slide height for smaller screens */
                top: 5%; /* Adjust positioning for smaller screens */
                left: 5%; /* Adjust positioning for smaller screens */
            }

            .carousel__slide:nth-child(1) {
                transform: rotateY(0deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b2738ecc33f195df6aa257c39eaa');
            }

            .carousel__slide:nth-child(2) {
                transform: rotateY(36deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b273e5a25ed08d1e7e0fbb440cef');
            }

            .carousel__slide:nth-child(3) {
                transform: rotateY(72deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b2739b9b36b0e22870b9f542d937');
            }

            .carousel__slide:nth-child(4) {
                transform: rotateY(108deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b273c5716278abba6a103ad13aa7');
            }

            .carousel__slide:nth-child(5) {
                transform: rotateY(144deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b273d441b2e9b63f0b9f9d90be19');
            }

            .carousel__slide:nth-child(6) {
                transform: rotateY(180deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b2737c68face1dc58127f3a7b1cc');
            }

            .carousel__slide:nth-child(7) {
                transform: rotateY(216deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b273b5d4b4ed17ec86c4b3944af2');
            }

            .carousel__slide:nth-child(8) {
                transform: rotateY(252deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b2734973a7d9304de53e18583220');
            }

            .carousel__slide:nth-child(9) {
                transform: rotateY(288deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b273c5649add07ed3720be9d5526');
            }

            .carousel__slide:nth-child(10) {
                transform: rotateY(324deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b273879e9318cb9f4e05ee552ac9');
            }
        }

        .carousel__slide:nth-child(1) {
            transform: rotateY(0deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b2738ecc33f195df6aa257c39eaa');
        }

        .carousel__slide:nth-child(2) {
            transform: rotateY(36deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b273e5a25ed08d1e7e0fbb440cef');
        }

        .carousel__slide:nth-child(3) {
            transform: rotateY(72deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b2739b9b36b0e22870b9f542d937');
        }

        .carousel__slide:nth-child(4) {
            transform: rotateY(108deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b273c5716278abba6a103ad13aa7');
        }

        .carousel__slide:nth-child(5) {
            transform: rotateY(144deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b273d441b2e9b63f0b9f9d90be19');
        }

        .carousel__slide:nth-child(6) {
            transform: rotateY(180deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b2737c68face1dc58127f3a7b1cc');
        }

        .carousel__slide:nth-child(7) {
            transform: rotateY(216deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b273b5d4b4ed17ec86c4b3944af2');
        }

        .carousel__slide:nth-child(8) {
            transform: rotateY(252deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b2734973a7d9304de53e18583220');
        }

        .carousel__slide:nth-child(9) {
            transform: rotateY(288deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b273c5649add07ed3720be9d5526');
        }

        .carousel__slide:nth-child(10) {
            transform: rotateY(324deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b273879e9318cb9f4e05ee552ac9');
        }
    </style>

    <!-- Title Section -->
    <div class="title-section">
        <div class="title-video">
            <video src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/519black.mp4" autoplay loop
                   muted playsinline></video>
        </div>
    </div>

    <div class="star-navbar-container">
        <div class="star-style">
            <div class="layer1 star-layer"></div>
            <div class="layer2 star-layer"></div>
            <div class="layer3 star-layer"></div>
            <div class="layer4 star-layer"></div>
            <div class="layer5 star-layer"></div>
        </div>

        <div class="first-title">
            Guide you to music bliss,
            <br>effortlessly.
        </div>


        <div class="explore-button">
            <a href="/rank_list/">Explore now!</a>
        </div>

        <div class="circle-section">
            <div class="carousel">
                <div class="carousel__track">
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                </div>
            </div>
        </div>


    </div>

    <script>
        window.addEventListener('scroll', function () {
            let scrollPosition = window.scrollY || document.documentElement.scrollTop;
            let windowHeight = window.innerHeight || document.documentElement.clientHeight;
            let documentHeight = document.documentElement.scrollHeight;

            let firstTitle = document.querySelector('.first-title');
            let circleSection = document.querySelector('.circle-section');
            let exploreButton = document.querySelector('.explore-button');

            if (scrollPosition > (documentHeight - windowHeight) / 4) {
                firstTitle.style.visibility = 'visible'; /* 显示 */
                firstTitle.style.opacity = '1'; /* 设置透明度为1 */
                circleSection.style.display = 'flex';
                exploreButton.style.display = 'flex';
                setTimeout(function () {
                    exploreButton.style.visibility = 'visible'; /* 显示 */
                    exploreButton.style.opacity = '1'; /* 设置透明度为1 */
                    circleSection.style.opacity = '1';
                    circleSection.style.justifyContent = 'center';
                    circleSection.style.alignItems = 'center';
                }, 100);
            }
        });


    </script>
{% endblock %}
