{% extends 'layout.html' %}

{% block content %}
    <style>
        body {
            margin: 0;
            background-color: #000;
            height: auto;
            overflow-x: hidden;
        }

        a {
            text-underline-mode: none;
        }

        .title-section {
            height: 70vh;
            width: 100vw;
            overflow: hidden; /* Hide any overflow */
            position: relative;
        }

        .circle-section {
            display: none;
            opacity: 0;
            transition: opacity 2s ease-in-out;
        }

        .title-container {
            position: relative;
            height: 100%;
            overflow: hidden;
        }

        .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: clip-path 0.1s;
        }

        .image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .image.overlay {
            clip-path: inset(0 100% 0 0);
        }


        .carousel {
            width: 300px;
            height: 300px;
            position: relative;
            perspective: 1500px; /* Increase perspective for more dramatic 3D effect */
        }

        .carousel__track {
            width: 100%;
            height: 100%;
            position: absolute;
            transform-style: preserve-3d;
            animation: rotate 20s infinite linear;
        }

        .carousel__slide {
            width: 80%;
            height: 80%;
            position: absolute;
            top: 10%;
            left: 10%;
            background-size: cover;
            background-position: center;
        }

        @keyframes rotate {
            from {
                transform: rotateY(0deg);
            }
            to {
                transform: rotateY(360deg);
            }
        }

        .first-title {
            display: flex;
            opacity: 0;
            visibility: hidden;
            justify-content: center;
            transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
            align-items: center;
            height: 30vh;
            font-size: 8rem;
            font-weight: 450;
            color: #fff;
        }

        .explore-button {
            margin-bottom: 10%;
            display: none;
            text-align: center;
            align-items: center;
            position: relative;
            height: 10vh;
            font-size: 3rem;
            opacity: 0;
            visibility: hidden;
            transition: opacity 1.5s ease-in-out, visibility 1.5s ease-in-out;
            justify-content: center;
        }


        .title-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .title-video video {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensure the video covers the entire section while maintaining aspect ratio */
        }

        .star-style {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 200%;
            z-index: -1;
        }

        @media (max-width: 576px) {
            .first-title {
                font-size: 3rem; /* Adjust font size for smaller screens */
                height: auto;
                margin-bottom: 10%;
                text-align: center; /* Center text for better readability */
            }

            .title-section {
                height: 18vh;
            }

            .circle-section {
                width: 100%;
                height: auto;
                justify-content: center;
                text-align: center !important;
            }

            .star-style {
                height: 50% !important;
            }

            .layer5 {
                display: none !important;
            }

            .carousel {
                width: 200px;
                height: 200px; /* Adjust carousel height for smaller screens */
            }

            .carousel__slide {
                width: 50%; /* Adjust slide width for smaller screens */
                height: 50%; /* Adjust slide height for smaller screens */
                top: 5%; /* Adjust positioning for smaller screens */
                left: 5%; /* Adjust positioning for smaller screens */
            }

            .carousel__slide:nth-child(1) {
                transform: rotateY(0deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b2738ecc33f195df6aa257c39eaa');
            }

            .carousel__slide:nth-child(2) {
                transform: rotateY(36deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b273e5a25ed08d1e7e0fbb440cef');
            }

            .carousel__slide:nth-child(3) {
                transform: rotateY(72deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b2739b9b36b0e22870b9f542d937');
            }

            .carousel__slide:nth-child(4) {
                transform: rotateY(108deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b273c5716278abba6a103ad13aa7');
            }

            .carousel__slide:nth-child(5) {
                transform: rotateY(144deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b273d441b2e9b63f0b9f9d90be19');
            }

            .carousel__slide:nth-child(6) {
                transform: rotateY(180deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b2737c68face1dc58127f3a7b1cc');
            }

            .carousel__slide:nth-child(7) {
                transform: rotateY(216deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b273b5d4b4ed17ec86c4b3944af2');
            }

            .carousel__slide:nth-child(8) {
                transform: rotateY(252deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b2734973a7d9304de53e18583220');
            }

            .carousel__slide:nth-child(9) {
                transform: rotateY(288deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b273c5649add07ed3720be9d5526');
            }

            .carousel__slide:nth-child(10) {
                transform: rotateY(324deg) translateZ(200px) !important;
                background-image: url('https://i.scdn.co/image/ab67616d0000b273879e9318cb9f4e05ee552ac9');
            }
        }

        .carousel__slide:nth-child(1) {
            transform: rotateY(0deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b2738ecc33f195df6aa257c39eaa');
        }

        .carousel__slide:nth-child(2) {
            transform: rotateY(36deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b273e5a25ed08d1e7e0fbb440cef');
        }

        .carousel__slide:nth-child(3) {
            transform: rotateY(72deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b2739b9b36b0e22870b9f542d937');
        }

        .carousel__slide:nth-child(4) {
            transform: rotateY(108deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b273c5716278abba6a103ad13aa7');
        }

        .carousel__slide:nth-child(5) {
            transform: rotateY(144deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b273d441b2e9b63f0b9f9d90be19');
        }

        .carousel__slide:nth-child(6) {
            transform: rotateY(180deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b2737c68face1dc58127f3a7b1cc');
        }

        .carousel__slide:nth-child(7) {
            transform: rotateY(216deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b273b5d4b4ed17ec86c4b3944af2');
        }

        .carousel__slide:nth-child(8) {
            transform: rotateY(252deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b2734973a7d9304de53e18583220');
        }

        .carousel__slide:nth-child(9) {
            transform: rotateY(288deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b273c5649add07ed3720be9d5526');
        }

        .carousel__slide:nth-child(10) {
            transform: rotateY(324deg) translateZ(500px);
            background-image: url('https://i.scdn.co/image/ab67616d0000b273879e9318cb9f4e05ee552ac9');
        }

        .playground-word-container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .playground-word-container svg path {
            stroke: pink; /* 设置描边颜色 */
            stroke-width: 6; /* 设置描边宽度 */
            stroke-dasharray: 1000; /* 设置路径长度 */
            stroke-dashoffset: 1000; /* 初始偏移 */
            fill: none; /* 去掉填充颜色 */
            width: 80%;
        }


        @keyframes stroke {
            from {
                stroke-dashoffset: 1000;
            }
            to {
                stroke-dashoffset: 0;
            }
        }

        .svg-container {
            width: 80%;
        }

        .playground-page {
            position: relative;
            top: 180vh;
        }

        .playground-content {
            position: relative;
            background-color: black;
            height: 100px;
        }
    </style>

    <!-- Title Section -->
    <div class="title-section">
        <div class="title-video">
            <video src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/519black.mp4" autoplay loop
                   muted playsinline></video>
        </div>
    </div>

    <div class="star-navbar-container">
        <div class="star-style">
            <div class="layer1 star-layer"></div>
            <div class="layer2 star-layer"></div>
            <div class="layer3 star-layer"></div>
            <div class="layer4 star-layer"></div>
            <div class="layer5 star-layer"></div>
        </div>

        <div class="first-title">
            Guide you to music bliss,
            <br>effortlessly.
        </div>


        <div class="explore-button">
            <a href="/rank_list/">Explore now!</a>
        </div>

        <div class="circle-section">
            <div class="carousel">
                <div class="carousel__track">
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                    <div class="carousel__slide"></div>
                </div>
            </div>
        </div>


    </div>

    <div class="playground-page">
        <div class="playground-word-container">
            <div class="svg-container">
                <svg id="_图层_1" data-name="图层 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1407.34 195.69">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: none; /* 使填充透明以显示描边 */
                                stroke-width: 10;
                                stroke-dasharray: 1000;
                                stroke-dashoffset: 1000;
                                animation: stroke 3s forwards;
                            }
                        </style>
                    </defs>
                    <path class="cls-1" style="animation-delay: 0s;"
                          d="M171.26,4c26.57-5.93,22.64,20.69,19.04,40.11-1,18.96-3.85,37.93-5.12,58.51,.54,1.08-1.35,4.61,4.21,1.67,21.29-.18,66.42-20.71,65.39,14.46-1.69,5.37-2.83,5.26-4.54,9.66-13.8,7.69-39.93,4.98-60.34,11.27-14.19,5.94-35.38,9.93-41.79-2.92-1.03-23.84,4.29-47.68,5.39-73.69,5.08-19.9-1.77-55.49,17.77-59.07Z"></path>
                    <path class="cls-1" style="animation-delay: 0.4s;"
                          d="M122.48,53.13c-4.86-15.12-12.99-19.6-20.57-28.35-9.21-8.36-32.59-17.09-53.43-16.54C17.78,11.98,13.62,34.55,10.86,67.86c-3.27,28.81-5.87,56.98-8.81,85.15-4.33,20.13-3.72,43.29,21.52,35.68,17.68-6.97,11.09-43.73,16.9-64.28,21.16,1.69,52.23-6.09,61.76-16.92,12.3-9.24,25.51-27.06,20.26-54.36ZM44.38,85.81c3.38-13.18-3.98-39.01,12.36-43.41,19.79,4.9,27.99,8.21,31.44,28.38-.48,13.48-24.23,19.83-43.8,15.03Z"></path>
                    <path class="cls-1" style="animation-delay: 0.8s;"
                          d="M388.01,146.41c-.13-18.33,1.71-35.12-1.74-51.92-.91-30.45,4.46-83.02-26.14-84.67-27.6,8.56-35.66,25.83-48.7,43.82-9.21,15.14-23.49,52.86-27.21,79.52-5.33,19.17-11.05,45.51,6.09,48.31,6.68,.99,12.86,1.21,16.44-1.16,9.34-10.53,5.57-35.68,14.12-46.34,12.75,1.46,23.04,3.03,33.33,3.41,.69,14.14-2.24,29.36,3.82,38.25,2.72,2.11,5.04,3.25,9.16,5.25,23.37,3.68,22.29-17.89,20.82-34.47Zm-35.4-45.42h-19.53c-4.61,1.35-2.71-2.17-3.25-3.25,5.19-17.12,10.79-21.84,16.45-32.59,3.06-1.54-2.63-3.17,6.31-4.79l-.95,3.25c1.61,12.46,.72,24.92,.97,37.38Z"></path>
                    <path class="cls-1" style="animation-delay: 1.2s;"
                          d="M505.45,.36c5.24-1,13.38,.57,17.78,2.76,12.45,16.06-.64,49.07-.65,72.2-7.47,46.2-21.24,71.14-44.04,84.88-15.41,12.83-37.79,4.69-31.01-19.53,8.48-10.49,24.73-13.2,29.16-30.8-5.6-.19-16.08,4.52-25.86,1.08-28.44-6.52-37.39-25.74-38.27-63.81,2.19-13.59,6.44-33.51,13.34-41.06,12.69-7.34,29.99,.7,28.66,17.08-6.07,15.68-11.89,34.93-4.37,50.03,2.89,1.96,4.14,1.73,10.27,5.59,16.78-5.55,23.52-12.99,29.61-30.21,4.37-15.95,.05-43.85,15.38-48.21Z"></path>
                    <path class="cls-1" style="animation-delay: 1.6s;"
                          d="M625.87,.49c14.86-1.53,38.79-.1,41.41,13.4,5.73,24.93-14.87,25.76-35.89,21.16-25.21,9.86-32.28,21.75-42.82,45.45-7.39,32.71,6.26,52.82,38.95,47.8,7.68-2.97,9.58-6.85,12.78-14.28,4.33-1.08-1.08-4.61-3.61-1.92-4.16,1.52-6.58,4.84-16.06,3.7-18.38,1.71-22.75-36.42,2.3-37.23,15.13-3.09,41.99-4.76,49.67,7.87,7.01,9.15,7.35,31.83-1.65,45.88-8.15,18.04-25.22,34.27-60.77,30.92-26.66-4.72-38.46-12.9-46.77-26.18-18.82-21.13-10.42-69.07,3.06-89.82,14.83-21.89,25.49-37.54,59.41-46.72Z"></path>
                    <path class="cls-1" style="animation-delay: 2s;"
                          d="M811.97,140.7c-10.52-13.41-20.19-25.95-33.58-34.77,12.59-13.85,29.1-23.12,27.94-54.4-8.02-22.19-21.65-34.03-53.21-31.82-25.56,11.85-34.81,22.62-44.15,59-4.27,32.03-6.1,62.92-7.17,93.8-7.98,25.01,34.1,23.83,33.15,6.71,1.46-18.62,4.75-35.42,4.56-52.22-1.43-2.71,2.09-6.23,3.18-4.88,24.31,14.21,37.64,35.66,56.98,54.2,33.52,4.08,25.98-30.3,12.31-35.63Zm-64.41-59.21c-1.08-.54-4.61,1.35-2.76-3.28,4.14-14.36,9.55-17.77,17.39-24.36h6.5c3.52-1.9-.27,3.52,4.02,3.88-6.9,12-13.02,15.96-25.15,23.76Z"></path>
                    <path class="cls-1" style="animation-delay: 2.4s;"
                          d="M900.71,4.71q1.27,.39-1.47,1.67c-31.95,10.22-43.22,26.31-51.27,71.53-3.62,38.52,13.12,74.41,33.58,81,26.15,12.57,53.89-2.11,62.44-9.93,17.04-12.68,31.88-39.98,31.35-76.54-3.33-50.68-22.16-68.24-74.62-67.73Zm37.03,91.82c-4.72,16.44-11.52,23.67-26.01,32.1-3.79,0-7.59,0-13.25,.25-1.79-2-4.44-3.14-7.74-5.02-12.21-25.1-10.62-82.42,20.82-84.59,9.25-1.06,15.77,3.65,20.54,7.14,9.4,8.12,8.55,32,5.64,50.12Z"></path>
                    <path class="cls-1" style="animation-delay: 2.8s;"
                          d="M1009.15,23.08c10.72-.43,21.78-1.19,24.28,10.68,1.44,28.01-4.72,77.04,23.43,89.58,16.9-7.15,22.61-16.07,28.63-42.51,10.08-16.91-6.39-48.57,12.88-56.13,21.24-1.77,26.73,12,24.39,34.35,2.97,24.7-10.95,59.77-21.76,73.05-8.12,13.2-27.8,30.29-61.5,25.57-21.5-10.21-28.66-22.81-37.56-57.49-1.9-23.75-10.97-64.33,7.2-77.09Z"></path>
                    <path class="cls-1" style="animation-delay: 3.2s;"
                          d="M1222.03,99.65c-8.19-13.56-12.92-37.06-26.15-47.37-33.85-5.13-26.17,45.3-38.91,72.5-1.32,23.41-26.73,73.55,15.13,70.81,2.69-3.27,7.15-4.77,9.09-11.69,2.92-18.96,7.73-37.93,11.51-56.89l3.08,.26c4.24,8.83,12.34,27.86,16.74,37.26,2.99,11.06,9.32,20.38,26.4,15.63,14.72-11.29,14.09-47.84,21.08-68.61,4.12-27.88,10.07-53.34,11.3-78.81-4.2-8.91-11.28-13.39-23.37-13.1-12.75,3.66-10.23,24.44-14.65,37.27-2.3,16.47-4.35,31.09-7.68,45.72"></path>
                    <path class="cls-1" style="animation-delay: 3.6s;"
                          d="M1314.34,3.02c-23.17,5.37-11.15,46.52-16.79,66.72,.99,28.07-4.06,53.53-2.13,78.99,4.55,7.55,4.19,8.65,11.64,11.61,27.04-3.86,56.1-16.18,66.59-23.58,16.6-12.87,27.23-22.63,33.69-53.02-8.51-57.09-31.43-68.34-93-80.71Zm19.86,113.45c-1.13,2.55-4.81,2.55-3.66-1.81,.82-23.73,1.2-49.32,5.64-71.85,22.69,8.44,31.12,11.52,35.95,38.23-5.41,22.56-15.54,26.21-37.93,35.43Z"></path>

                     <path class="cls-1" style="animation-delay: 0s;"
                          d="M171.26,4c26.57-5.93,22.64,20.69,19.04,40.11-1,18.96-3.85,37.93-5.12,58.51,.54,1.08-1.35,4.61,4.21,1.67,21.29-.18,66.42-20.71,65.39,14.46-1.69,5.37-2.83,5.26-4.54,9.66-13.8,7.69-39.93,4.98-60.34,11.27-14.19,5.94-35.38,9.93-41.79-2.92-1.03-23.84,4.29-47.68,5.39-73.69,5.08-19.9-1.77-55.49,17.77-59.07Z"></path>

                </svg>
            </div>
        </div>
        <div class="playground-content">

        </div>
    </div>

    <script>
        window.addEventListener('scroll', function () {
            let scrollPosition = window.scrollY || document.documentElement.scrollTop;
            let windowHeight = window.innerHeight || document.documentElement.clientHeight;
            let documentHeight = document.documentElement.scrollHeight;

            let firstTitle = document.querySelector('.first-title');
            let circleSection = document.querySelector('.circle-section');
            let exploreButton = document.querySelector('.explore-button');

            if (scrollPosition > (documentHeight - windowHeight) / 4) {
                firstTitle.style.visibility = 'visible'; /* 显示 */
                firstTitle.style.opacity = '1'; /* 设置透明度为1 */
                circleSection.style.display = 'flex';
                exploreButton.style.display = 'flex';
                setTimeout(function () {
                    exploreButton.style.visibility = 'visible'; /* 显示 */
                    exploreButton.style.opacity = '1'; /* 设置透明度为1 */
                    circleSection.style.opacity = '1';
                    circleSection.style.justifyContent = 'center';
                    circleSection.style.alignItems = 'center';
                }, 100);
            }
        });

    </script>
{% endblock %}
