{% extends "layout.html" %}

{% block content %}


    <style>

        body {
            background-color: #f0edf6;
        }

        .background-image-container {
            position: relative;
            height: 50vh;
            overflow: hidden;
            background: #f0f0f0;
        }

        .background-image {
            position: absolute;
            cursor: grab;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80vw;
            height: auto;
        }

        .background-image img {
            width: 100%;
            height: auto;
            object-fit: cover;
            max-width: none;
        }

        .drag-button {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            z-index: 10;
        }

        .drag-button.active {
            background-color: #0056b3;
        }

        .left-gradient, .right-gradient {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .left-gradient {
            position: absolute;
            top: 0;
            left: 0;
            width: 12.5vw;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
        }

        .right-gradient {
            position: absolute;
            top: 0;
            right: 0;
            width: 12.5vw;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
        }

        .user-info {
            position: relative;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25vh;
        }

        .user-info-container {
            display: flex;
            width: 80vw;
            justify-content: space-between;
            align-items: center;
        }

        .profile-picture {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid #d3d3d3; /* 浅灰色边框 */
            position: relative;
            top: -40px; /* 覆盖部分背景图 */
            left: 5%;
            z-index: 5; /* 确保头像显示在上方 */
            background-color: white; /* 边框颜色 */
            display: inline-flex;
        }

        .profile-picture img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .profile-info {
            display: flex;
            align-items: center;
            margin-left: 5%; /* 调整名字与头像的距离 */
        }

        .profile-username {
            color: black;
            font-size: 40px;
            margin-left: 40px;
            height: 50px;
            margin-bottom: 20%;
        }

        .button-group {
            display: flex;
            gap: 10px; /* 调整按钮间距 */
        }


        .btn {
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .btn-primary {
            background-color: #007bff;
            color: white;
        }

        .btn-default {
            background-color: #f0f0f0;
        }

        .split-line {
            height: 1px;
            background-color: grey;
            position: relative;
            width: 80%;
        }

        .gallery-container {
            width: 100%;
            overflow: hidden;
            margin-top: 30px;
            position: relative;
            height: 250px;
        }

        .gallery-content {
            display: flex;
            white-space: nowrap;
            position: absolute;
            left: 0;
        }

        .gallery-content img {
            margin: 0 10px;
            height: 200px; /* 固定高度 */
            width: 200px; /* 固定宽度 */
            border: 1px solid gray;
        }

        .gallery-title {
            font-size: 36px;
            font-family: "Josefin Sans", sans-serif;
            font-weight: 500;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start; /* 可以根据需要调整 */
            width: 100%;
        }


        .post-list {
            height: auto;
            text-align: center;
            width: 55%;
            overflow-y: auto;
        }

        .post-container {
            border: 1px solid #ccc;
            border-radius: 15px;
            padding: 15px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
            background-color: #fff;
            text-align: left;
            margin-bottom: 20px;
        }

        .post-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 10px;
        }

        .name, .time {
            flex-grow: 1; /* 允许这些元素填充额外空间 */
            white-space: nowrap; /* 防止内容折行 */
            overflow: hidden;
            text-overflow: ellipsis; /* 超出部分显示省略号 */
        }

        .post-header img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        .post-header .name {
            font-weight: bold;
            font-size: 16px;
            margin-right: 20px;
        }

        .post-header .time {
            margin-left: auto;
            color: #777;
            font-size: 0.9em;
        }

        .post-content {
            margin-bottom: 10px;
            font-size: 20px;
        }


        .image-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 创建三列 */
            gap: 10px; /* 调整列间距 */
        }

        .responsive-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .image-container div {
            position: relative;
            width: 100%;
            padding-top: 100%;
            overflow: hidden;
        }

        .image-container img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .post-actions {
            border-top: 1px solid #eee;
            padding-top: 9px;
            display: flex;
            justify-content: space-around;
            font-size: 1.2em;
            color: #555;
            height: 30px;
        }

        .post-actions img {
            height: 25px;
            margin-right: 5px;
            margin-top: -3px;
        }

        .post-actions span:hover {
            cursor: pointer;
        }

        .profile-post-avatar {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        .playlist {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            height: auto;
            border-radius: 15px;
            display: flex;
            flex-direction: column; /* 确保子元素垂直排列 */
            align-items: flex-start; /* 左对齐 */
            padding: 20px; /* 添加内边距以使内容不贴边 */
            background-color: white;
        }

        .playlist-header {
            font-size: 35px;
            margin-bottom: 20px; /* 添加下边距以分隔标题和内容 */
            width: 100%; /* 确保标题占据全部宽度 */
            text-align: left; /* 标题左对齐 */
        }

        .playlist-content ul {
            list-style: none; /* 去除默认的列表样式 */
            padding: 0; /* 去除默认的内边距 */
            margin: 0; /* 去除默认的外边距 */
            width: 100%; /* 确保列表占据全部宽度 */
        }

        .playlist-content li {
            margin-bottom: 15px; /* 每个播放列表项之间的间距 */
        }

        .playlist-item {
            display: flex;
            align-items: center;
        }

        .playlist-item img {
            border-radius: 10px;
        }

        .playlist-cover {
            width: 100px; /* 封面的宽度 */
            height: 100px; /* 封面的高度 */
            margin-right: 10px; /* 封面和名称之间的间距 */
            object-fit: cover; /* 确保封面图片不会变形 */
        }

        .playlist-name {
            font-size: 18px;
            color: black;
        }


    </style>

    <div class="background-image-container">
        <button class="drag-button">Enable Drag</button>
        <div class="left-gradient"></div>
        <div class="right-gradient"></div>
        <div class="background-image">
            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/profile_bgp.jpeg" alt="Background Image">
        </div>
    </div>

    <div class="user-info">
        <div class="user-info-container">
            <div class="profile-info">
                <div class="profile-picture">
                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/green.jpg" alt="Profile Picture">
                </div>
                <span class="profile-username">Last Whisper</span>
            </div>
            <div class="button-group">
                <span><button class="btn btn-primary">Post</button></span>
                <span><button class="btn btn-default">Edit</button></span>
            </div>
        </div>
    </div>


    <div style="display: flex; justify-content: center; align-items: center;">
        <div class="split-line"></div>
    </div>

    <div class="gallery-title">
        Favourite Albums
    </div>
    <div class="gallery-container">
        <div class="gallery-content" id="gallery2">
            <img src="https://i.scdn.co/image/ab67616d0000b273f7ecaf9daf2c1d5ca89f7312" alt="ABBA">
            <img src="https://i.scdn.co/image/ab67616d0000b27359998815d706661e2c404d9f" alt="killer queen">
            <img src="https://i.scdn.co/image/ab67616d0000b273f72f1e38e9bd48f18a17ed9b" alt="Goodbye yellow brick road">
            <img src="https://i.scdn.co/image/ab67616d0000b27359ae8cf65d498afdd5585634" alt="lana">
            <img src="https://i.scdn.co/image/ab67616d0000b2731d5cf960a92bb8b03fc2be7f" alt="Image 1">
            <img src="https://i.scdn.co/image/ab67616d0000b2739e16930796a07f1195002389" alt="fuji kaze">
            <img src="https://i.scdn.co/image/ab67616d0000b273dc30583ba717007b00cceb25" alt="The Beatles">
            <img src="https://i.scdn.co/image/ab67616d0000b2734121faee8df82c526cbab2be" alt="MJ">
            <img src="https://i.scdn.co/image/ab67616d0000b273726d48d93d02e1271774f023" alt="Eminem">
            <img src="https://i.scdn.co/image/ab67616d0000b273ab5e496971b38a864fefdb8d" alt="Ding">
        </div>
    </div>


    <div class="container">
        <div class="col-xs-4 playlist">
            <div class="playlist-header">Playlists</div>
            <div class="playlist-content">
                <ul>
                    <li>
                        <div class="playlist-item">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/4_Beautiful_Things_Benson_Boone.jpg"
                                 alt="Beautiful Things"
                                 class="playlist-cover">
                            <span class="playlist-name">Playlist1</span>
                        </div>
                    </li>
                    <!-- 添加更多的播放列表项 -->
                    <li>
                        <div class="playlist-item">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/10_GOOD_DAY_Forrest_Frank.jpg"
                                 alt="Another Cover"
                                 class="playlist-cover">
                            <span class="playlist-name">Playlist2</span>
                        </div>
                    </li>

                    <li>
                        <div class="playlist-item">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/27_DNA_Billy_Gillies.jpg"
                                 alt="Another Cover"
                                 class="playlist-cover">
                            <span class="playlist-name">Playlist3</span>
                        </div>
                    </li>

                    <li>
                        <div class="playlist-item">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/39_A_Country_Boy_Can_Survive_Hank_Williams%2C_Jr..jpg"
                                 alt="Another Cover"
                                 class="playlist-cover">
                            <span class="playlist-name">Playlist4</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div class="col-xs-7 post-list">

            <div class="post-container">
                <div class="post-header">
                    <span class="profile-post-avatar">
                        <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/green.jpg"
                             alt="Profile Picture">
                    </span>
                    <span class="name">Last Whisper</span>
                    <span class="time">2024 Dec 15th 13:00</span>
                    <span class="dropdown">
                            <span class="more-options dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false"><img style="width:25px; height:25px; opacity: 70%;"
                                                             src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/more.png"></span>
                        {% if request.user.is_authenticated and item.user == request.user %}
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a class="delete-post" data-post-id="{{ item.id }}" href="javascript:void(0);"
                                       style="color: #CB1212">Delete Post</a></li>
                            </ul>
                        {% else %}
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="/#/">Not Interested</a></li>
                                <li><a href="/#/">Follow User</a></li>
                                <li><a href="/#/">Block User</a></li>
                            </ul>
                        {% endif %}
                        </span>
                </div>
                <div class="post-content">
                    Good day, mate!
                </div>

                <div class="image-container">
                    <div>
                        <img src="/media/blue_and_black.jpg" class="responsive-img" loading="lazy">
                    </div>

                    <div>
                        <img src="/media/album/2_Dizzy_Olly_Alexander.jpg" class="responsive-img" loading="lazy">
                    </div>
                </div>
                {% if item.video_urls %}
                    <div class="video-container">
                        {% for video_url in item.video_urls %}
                            <div class="video-container">
                                <video controls class="responsive-video" autoplay muted>
                                    <source src="{{ video_url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                <div class="video-modal" onclick="play(this)">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/play.png"
                                         style="opacity: 0.5; height: 65px;">
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                {% endif %}

                <div class="post-actions">
                        <span class="like" data-post-id="{{ item.id }}">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/{{ item.is_liked|yesno:'like_red.png,like_grey.png' }}"
                                 class="like-icon"
                                 id="like-img-{{ item.id }}">
                            <span id="like-count-{{ item.id }}">{{ item.likes_count }}</span>
                        </span>

                    <span class="comment" data-post-id="{{ item.id }}">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/comment.png">
                        </span>
                    <span id="share">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/share.png">
                        </span>
                </div>
                <div id="commentInput-{{ item.id }}" class="comment-input-container" style="display:none;">
                    <textarea class="form-control" placeholder="Write a comment..."></textarea>
                    <button class="btn btn-primary submit-comment" data-post-id="{{ item.id }}">Comment</button>
                </div>
                <div class="comments-container">
                    {% with item.comments.all|slice:":5" as initial_comments %}
                        {% for comment in initial_comments %}
                            <div class="moment-comment">
                                <strong>
                                        <span>
                                            <img src="{{ comment.user.avatar.url }}"
                                                 style="height: 30px; border-radius: 50%">
                                        </span>
                                    <span
                                            class="moment-comment-name">{{ comment.user.username }}
                                        </span>
                                </strong>: {{ comment.content }}
                            </div>
                        {% endfor %}
                    {% endwith %}
                    {% if item.comments.count > 5 %}
                        <button class="btn btn-link load-more-comments" data-post-id="{{ item.id }}"
                                data-offset="5">Load more
                            comments
                        </button>
                    {% endif %}
                </div>

            </div>

        </div>

        <!-- Image Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="" id="imageModalSrc" style="width: 100%;"> <!-- 留空的src，稍后用JS填充 -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {#background picture drag#}
    <script>
        const container = document.querySelector('.background-image-container');
        const imageWrapper = document.querySelector('.background-image');
        const image = document.querySelector('.background-image img');
        const dragButton = document.querySelector('.drag-button');

        let isDragging = false;
        let dragEnabled = false;
        let startY, initialTop;

        // Load saved position from localStorage
        const savedTop = localStorage.getItem('imageTop');
        if (savedTop !== null) {
            imageWrapper.style.top = `${savedTop}px`;
        }

        dragButton.addEventListener('click', () => {
            dragEnabled = !dragEnabled;
            dragButton.classList.toggle('active');
            dragButton.textContent = dragEnabled ? 'Disable Drag' : 'Enable Drag';
            imageWrapper.style.cursor = dragEnabled ? 'grab' : 'default';
        });

        imageWrapper.addEventListener('mousedown', (e) => {
            if (dragEnabled) {
                isDragging = true;
                startY = e.clientY;
                initialTop = imageWrapper.offsetTop;
                imageWrapper.style.cursor = 'grabbing';
                e.preventDefault();  // Prevent default behavior to avoid any issues with dragging
            }
        });

        document.addEventListener('mousemove', (e) => {
            if (isDragging && dragEnabled) {
                const dy = e.clientY - startY;
                let newTop = initialTop + dy;

                // Prevent dragging out of bounds
                const containerHeight = container.clientHeight;
                const imageHeight = imageWrapper.clientHeight;
                newTop = Math.min(newTop, 0);  // Prevent dragging down beyond the top of the container
                newTop = Math.max(newTop, containerHeight - imageHeight);  // Prevent dragging up beyond the bottom of the image

                imageWrapper.style.top = `${newTop}px`;
            }
        });

        document.addEventListener('mouseup', () => {
            if (isDragging) {
                isDragging = false;
                imageWrapper.style.cursor = dragEnabled ? 'grab' : 'default';

                // Save position to localStorage
                localStorage.setItem('imageTop', imageWrapper.offsetTop);
            }
        });
    </script>

    {#    gallery#}
    <script>
        const scrollSpeed = 0.5;

        function duplicateContent(id) {
            const gallery = document.getElementById(id);
            const children = Array.from(gallery.children);
            children.forEach(child => {
                const clone = child.cloneNode(true);
                gallery.appendChild(clone);
            });
        }

        // 向右滚动的函数
        function scrollRight(id) {
            const gallery = document.getElementById(id);
            let position = parseInt(gallery.style.left, 10) || 0;

            function animate() {
                position -= scrollSpeed;
                if (position <= -gallery.scrollWidth / 2) {
                    position = 0;
                }
                gallery.style.left = position + 'px';
                requestAnimationFrame(animate);
            }

            animate();
        }

        duplicateContent('gallery2');

        // 开始滚动
        scrollRight('gallery2');
    </script>


    {#    展示更大的image#}
    <script>
        // 展示更大的image
        $(document).on('click', '.image-container img', function () {
            var src = $(this).attr('src');
            $('#imageModalSrc').attr('src', src);
            $('#imageModal').modal('show');
        });

    </script>


{% endblock %}
