{% extends "layout.html" %}

{% block content %}
    <style>
        body {
            background-color: #f0edf6;
        }

        .background-image-container {
            position: relative;
            height: 50vh;
            overflow: hidden;
            background: #f0f0f0;
        }

        .background-image {
            position: absolute;
            cursor: grab;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80vw;
            height: auto;
        }

        .background-image img {
            width: 100%;
            height: auto;
            object-fit: cover;
            max-width: none;
        }

        .drag-button {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            z-index: 10;
        }

        .drag-button.active {
            background-color: #0056b3;
        }

        .left-gradient, .right-gradient {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .left-gradient {
            position: absolute;
            top: 0;
            left: 0;
            width: 12.5vw;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
        }

        .right-gradient {
            position: absolute;
            top: 0;
            right: 0;
            width: 12.5vw;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
        }

        .user-info {
            position: relative;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25vh;
        }

        .user-info-container {
            display: flex;
            width: 80vw;
            justify-content: space-between;
            align-items: center;
        }

        .profile-picture {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid #d3d3d3;
            position: relative;
            top: -40px;
            left: 5%;
            z-index: 5;
            background-color: white;
            display: inline-flex;
        }

        .profile-picture img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .profile-info {
            display: flex;
            align-items: center;
            margin-left: 5%;
        }

        .profile-username {
            color: black;
            font-size: 40px;
            margin-left: 40px;
            height: 50px;
            margin-bottom: 20%;
        }

        .button-group {
            display: flex;
            gap: 10px;
        }

        .btn {
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .btn-primary {
            background-color: #007bff;
            color: white;
        }

        .btn-default {
            background-color: #f0f0f0;
        }

        .split-line {
            height: 1px;
            background-color: grey;
            position: relative;
            width: 80%;
        }

        .gallery-container {
            width: 100%;
            overflow: hidden;
            margin-top: 30px;
            position: relative;
            height: 250px;
        }

        .gallery-content {
            display: flex;
            white-space: nowrap;
            position: absolute;
            left: 0;
        }

        .gallery-content img {
            margin: 0 10px;
            height: 200px;
            width: 200px;
            border: 1px solid gray;
        }

        .gallery-title {
            font-size: 36px;
            font-family: "Josefin Sans", sans-serif;
            font-weight: 500;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }

        .post-list {
            height: auto;
            text-align: center;
            width: 55%;
            overflow-y: auto;
            max-height: 80vh;
        }

        .post-container {
            border: 1px solid #ccc;
            border-radius: 15px;
            padding: 15px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
            background-color: #fff;
            text-align: left;
            margin-bottom: 20px;
        }

        .post-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 10px;
        }

        .name, .time {
            flex-grow: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .post-header img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        .post-header .name {
            font-weight: bold;
            font-size: 16px;
            margin-left: 20px;
        }

        .post-header .time {
            margin-left: auto;
            color: #777;
            font-size: 0.9em;
        }

        .post-content {
            margin-bottom: 10px;
            font-size: 20px;
        }

        .image-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

        .responsive-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .image-container div {
            position: relative;
            width: 100%;
            padding-top: 100%;
            overflow: hidden;
        }

        .image-container img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .post-actions {
            border-top: 1px solid #eee;
            padding-top: 9px;
            display: flex;
            justify-content: space-around;
            font-size: 1.2em;
            color: #555;
            height: 30px;
        }

        .post-actions img {
            height: 25px;
            margin-right: 5px;
            margin-top: -3px;
        }

        .post-actions span:hover {
            cursor: pointer;
        }

        .profile-post-avatar {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        .playlist {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            height: auto;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: white;
            position: sticky;
            max-height: 80vh;
            overflow-y: auto;
        }

        .playlist-header {
            font-size: 35px;
            margin-bottom: 20px;
            width: 100%;
            text-align: left;
        }

        .playlist-content ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
        }

        .playlist-content li {
            margin-bottom: 15px;
        }

        .playlist-item {
            display: flex;
            align-items: center;
        }

        .playlist-item img {
            border-radius: 10px;
        }

        .playlist-cover {
            width: 100px;
            height: 100px;
            margin-right: 10px;
            object-fit: cover;
        }

        .playlist-name {
            font-size: 18px;
            color: black;
        }
    </style>

    <div class="background-image-container">
        <button class="drag-button">Enable Drag</button>
        <div class="left-gradient"></div>
        <div class="right-gradient"></div>
        <div class="background-image">
            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/profile_bgp.jpeg" alt="Background Image">
        </div>
    </div>

    <div class="user-info">
        <div class="user-info-container">
            <div class="profile-info">
                <div class="profile-picture">
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}" alt="User Profile" loading="lazy">
                    {% else %}
                        <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/profile/default.png"
                             alt="Nothing" loading="lazy">
                    {% endif %}
                </div>
                <span class="profile-username">{{ user.username }}</span>
            </div>
            <div class="button-group">
                <span><button class="btn btn-primary">Post</button></span>
                <span><button class="btn btn-default">Edit</button></span>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: center; align-items: center;">
        <div class="split-line"></div>
    </div>

    <div class="gallery-title">Favourite Albums</div>
    <div class="gallery-container">
        <div class="gallery-content" id="gallery2">
            <img src="https://i.scdn.co/image/ab67616d0000b273f7ecaf9daf2c1d5ca89f7312" alt="ABBA" loading="lazy">
            <img src="https://i.scdn.co/image/ab67616d0000b27359998815d706661e2c404d9f" alt="killer queen"
                 loading="lazy">
            <img src="https://i.scdn.co/image/ab67616d0000b273f72f1e38e9bd48f18a17ed9b" alt="Goodbye yellow brick road"
                 loading="lazy">
            <img src="https://i.scdn.co/image/ab67616d0000b27359ae8cf65d498afdd5585634" alt="lana" loading="lazy">
            <img src="https://i.scdn.co/image/ab67616d0000b2731d5cf960a92bb8b03fc2be7f" alt="Image 1" loading="lazy">
            <img src="https://i.scdn.co/image/ab67616d0000b2739e16930796a07f1195002389" alt="fuji kaze" loading="lazy">
            <img src="https://i.scdn.co/image/ab67616d0000b273dc30583ba717007b00cceb25" alt="The Beatles"
                 loading="lazy">
            <img src="https://i.scdn.co/image/ab67616d0000b2734121faee8df82c526cbab2be" alt="MJ" loading="lazy">
            <img src="https://i.scdn.co/image/ab67616d0000b273726d48d93d02e1271774f023" alt="Eminem" loading="lazy">
            <img src="https://i.scdn.co/image/ab67616d0000b273ab5e496971b38a864fefdb8d" alt="Ding" loading="lazy">
        </div>
    </div>

    <div class="container">
        <div class="col-xs-4 playlist">
            <div class="playlist-header">Playlists</div>
            <div class="playlist-content">

                <ul>
                    {% for playlist in playlists %}
                    <li>
                        <a href="/playlist/{{ playlist.id }}">
                            <div class="playlist-item">
                                <img src="{{ playlist.playlist_cover }}"
                                     alt="Beautiful Things" class="playlist-cover" loading="lazy">
                                <span class="playlist-name">{{ playlist.name }}</span>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>

        <div class="col-xs-7 post-list">
            {% for item in queryset %}
                <div class="post-container">
                    <div class="post-header">
                    <span class="profile-post-avatar">
                        <img src="{{ item.user.avatar.url }}" alt="Profile Picture" loading="lazy">
                    </span>
                        <span class="name">{{ item.user.username }}</span>
                        <span class="time">{{ item.created_at|date:"M d, Y g:i a" }}</span>
                        <span class="dropdown">
                        <span class="more-options dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false"><img style="width:25px; height:25px; opacity: 70%;"
                                                         src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/more.png"></span>
                            {% if request.user.is_authenticated and item.user == request.user %}
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a class="delete-post" data-post-id="{{ item.id }}" href="javascript:void(0);"
                                       style="color: #CB1212">Delete Post</a></li>
                            </ul>
                            {% else %}
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="/#/">Not Interested</a></li>
                                <li><a href="/#/">Follow User</a></li>
                                <li><a href="/#/">Block User</a></li>
                            </ul>
                            {% endif %}
                    </span>
                    </div>
                    <div class="post-content">{{ item.content }}</div>
                    {% if item.image_urls %}
                        <div class="image-container">
                            {% for image_url in item.image_urls %}
                                <div>
                                    <img src="{{ image_url }}" class="responsive-img" loading="lazy">
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if item.video_urls %}
                        <div class="video-container">
                            {% for video_url in item.video_urls %}
                                <div class="video-container">
                                    <video controls class="responsive-video" autoplay muted>
                                        <source src="{{ video_url }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="post-actions">
                    <span class="like" data-post-id="{{ item.id }}">
                        <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/{{ item.is_liked|yesno:'like_red.png,like_grey.png' }}"
                             class="like-icon" id="like-img-{{ item.id }}">
                        <span id="like-count-{{ item.id }}">{{ item.likes_count }}</span>
                    </span>
                        <span class="comment" data-post-id="{{ item.id }}">
                        <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/comment.png">
                    </span>
                        <span id="share">
                        <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/share.png">
                    </span>
                    </div>
                    <div id="commentInput-{{ item.id }}" class="comment-input-container" style="display:none;">
                        <textarea class="form-control" placeholder="Write a comment..."></textarea>
                        <button class="btn btn-primary submit-comment" data-post-id="{{ item.id }}">Comment</button>
                    </div>
                    <div class="comments-container">
                        {% with item.comments.all|slice:":5" as initial_comments %}
                            {% for comment in initial_comments %}
                                <div class="moment-comment">
                                    <strong>
                                    <span>
                                        <img src="{{ comment.user.avatar.url }}"
                                             style="height: 30px; border-radius: 50%" loading="lazy">
                                    </span>
                                        <span class="moment-comment-name">{{ comment.user.username }}</span>
                                    </strong>: {{ comment.content }}
                                </div>
                            {% endfor %}
                        {% endwith %}
                        {% if item.comments.count > 5 %}
                            <button class="btn btn-link load-more-comments" data-post-id="{{ item.id }}"
                                    data-offset="5">Load more comments
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="" id="imageModalSrc" style="width: 100%;"> <!-- 留空的src，稍后用JS填充 -->
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {#background picture drag#}
    <script>
        const container = document.querySelector('.background-image-container');
        const imageWrapper = document.querySelector('.background-image');
        const image = document.querySelector('.background-image img');
        const dragButton = document.querySelector('.drag-button');

        let isDragging = false;
        let dragEnabled = false;
        let startY, initialTop;

        // Load saved position from localStorage
        const savedTop = localStorage.getItem('imageTop');
        if (savedTop !== null) {
            imageWrapper.style.top = `${savedTop}px`;
        }

        dragButton.addEventListener('click', () => {
            dragEnabled = !dragEnabled;
            dragButton.classList.toggle('active');
            dragButton.textContent = dragEnabled ? 'Disable Drag' : 'Enable Drag';
            imageWrapper.style.cursor = dragEnabled ? 'grab' : 'default';
        });

        imageWrapper.addEventListener('mousedown', (e) => {
            if (dragEnabled) {
                isDragging = true;
                startY = e.clientY;
                initialTop = imageWrapper.offsetTop;
                imageWrapper.style.cursor = 'grabbing';
                e.preventDefault();  // Prevent default behavior to avoid any issues with dragging
            }
        });

        document.addEventListener('mousemove', (e) => {
            if (isDragging && dragEnabled) {
                const dy = e.clientY - startY;
                let newTop = initialTop + dy;

                // Prevent dragging out of bounds
                const containerHeight = container.clientHeight;
                const imageHeight = imageWrapper.clientHeight;
                newTop = Math.min(newTop, 0);  // Prevent dragging down beyond the top of the container
                newTop = Math.max(newTop, containerHeight - imageHeight);  // Prevent dragging up beyond the bottom of the image

                imageWrapper.style.top = `${newTop}px`;
            }
        });

        document.addEventListener('mouseup', () => {
            if (isDragging) {
                isDragging = false;
                imageWrapper.style.cursor = dragEnabled ? 'grab' : 'default';

                // Save position to localStorage
                localStorage.setItem('imageTop', imageWrapper.offsetTop);
            }
        });
    </script>

    {#    gallery#}
    <script>
        const scrollSpeed = 0.5;

        function duplicateContent(id) {
            const gallery = document.getElementById(id);
            const children = Array.from(gallery.children);
            children.forEach(child => {
                const clone = child.cloneNode(true);
                gallery.appendChild(clone);
            });
        }

        // 向右滚动的函数
        function scrollRight(id) {
            const gallery = document.getElementById(id);
            let position = parseInt(gallery.style.left, 10) || 0;

            function animate() {
                position -= scrollSpeed;
                if (position <= -gallery.scrollWidth / 2) {
                    position = 0;
                }
                gallery.style.left = position + 'px';
                requestAnimationFrame(animate);
            }

            animate();
        }

        duplicateContent('gallery2');

        // 开始滚动
        scrollRight('gallery2');
    </script>

    {#    展示更大的image#}
    <script>
        // 展示更大的image
        $(document).on('click', '.image-container img', function () {
            var src = $(this).attr('src');
            $('#imageModalSrc').attr('src', src);
            $('#imageModal').modal('show');
        });
    </script>
{% endblock %}
