{% extends 'layout.html' %}

{% block content %}

    <style>
        body {
            background-color: #1b1b1b;
            height: 200vh;
        }

        .video-logo-container {
            position: relative;
            width: 100%;
            height: 40vh;
            overflow: hidden;
            z-index: 0;
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        h1 {
            color: #eca9d9;
            font-size: 100px;
        }

        .playlist-name {
            transform: translate(-50%, -50%);
            z-index: 1;
            position: absolute;
            width: 100%;
            display: flex;
            left: 50%;
            top: 40%;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    </style>

    <div class="video-logo-container">
        <video src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/blackhole_5x.mp4" autoplay loop muted
               playsinline></video>
        <div class="playlist-name">
            <h1>Luca's Top 50 Songs</h1>
        </div>
    </div>

    <div class="container">
        {% for track in tracks %}
            <tr class="table-row">
                <td class="rank" style="background-color: black; margin-left: 50px">{{ forloop.counter }}</td>

                {% if song_info.absolute_cover_url %}
                    <td class="pic">
                        <img src="{{ track.music.pic }}" alt="Album Cover" loading="lazy">
                    </td>
                {% else %}
                    <td class="pic">
                        <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/default.jpeg"
                             alt="">
                    </td>
                {% endif %}

                <td>
                    <div class="song song-font song-text" style="text-decoration: none; color: black;">
                        {% if track.music.title|length > 20 %}
                            {{ track.title|slice:":20" }}...
                        {% else %}
                            {{ track.title }}
                        {% endif %}
                    </div>
                    <div class="artist" style="text-align: left">{{ track.music.artist }}</div>
                </td>
            </tr>
        {% endfor %}
    </div>




{% endblock %}