{% extends "layout.html" %}

{% block content %}

    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    {#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.7.0/dist/min/dropzone.min.css"/>#}

    <style>
        #nav1 {
            z-index: 3 !important;
            margin-bottom: 0 !important;
        }

        #nav2 {
            margin-bottom: 0 !important;
            position: relative;
            z-index: 2;
        }

        .left-bar {
            background-color: #EFF4F5;
            height: 100%;
            position: fixed;
            width: 25%;
            left: 0;
            top: 0;
            z-index: 1;
            box-shadow: 6px 0 15px -5px rgba(0, 0, 0, 0.5);
        }

        @media (max-width: 576px) {
            .left-bar {
                display: none;
            }

            .right-bar {
                margin-left: 0 !important;
                width: 100% !important;
                height: auto !important;
                overflow-y: auto !important;
            }

            .friends {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                overflow-y: auto !important;
            }

            .post-container {
                border: 1px solid #ccc;
                border-radius: 5px;
                width: 100%;
                margin: 20px auto;
                padding: 15px;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
                background-color: #fff;
                text-align: left;
            }

            .post-input {
                width: 100% !important;
            }
        }

        .right-bar {
            background-color: #E4F0FA;
            margin-left: 25%; /* 根据左侧栏的宽度调整 */
            height: auto;
            text-align: center;
            width: 75%;
            overflow-y: auto;
        }

        .post-input {
            margin-bottom: 10px;
            height: 40px;
            width: 60%;
            border-radius: 20px;
            font-size: 22px;
            color: #414141;
            background-color: #DFDFDF; /* 深蓝色背景 */
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
            0 1px 2px rgba(0, 0, 0, 0.08),
            0 5px 10px rgba(0, 0, 0, 0.1),
            0 3px 3px rgba(0, 0, 0, 0.1);
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
        }

        .post-input:hover {
            background-color: #004080; /* 略深的蓝色 */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
            0 2px 3px rgba(0, 0, 0, 0.08),
            0 10px 20px rgba(0, 0, 0, 0.1),
            0 6px 6px rgba(0, 0, 0, 0.1);
            color: white !important;
        }

        .post-input:active {
            background-color: #002244; /* 更深的蓝色 */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
            0 1px 2px rgba(0, 0, 0, 0.08),
            0 5px 10px rgba(0, 0, 0, 0.1),
            0 3px 3px rgba(0, 0, 0, 0.1);
            transform: translateY(1px);
        }

        .pic-upload {
            margin-top: 30px;
            width: 100%;
            border-radius: 20px;
        }

        .post-square {
            text-align: center;
        }

        .modal-header {
            text-align: center;
        }

        .modal-title {
            font-size: 25px;
            font-weight: 500;
        }

        #message-text {
            height: 150px;
        }

        .upload-pic {
            float: right;
        }

        .upload-pic img {
            height: 28px;
        }

        .form-control {
            border-radius: 20px;
            font-size: 20px;
        }

        .dropzone-box {
            width: 100%;
            margin-top: 30px;
            border-radius: 20px;
        }

        .moments {
            border: 5px solid black;
            height: 100px;
            color: red;
            background-color: red;
        }

        .post-container {
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 20px auto;
            padding: 15px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
            background-color: #fff;
            text-align: left;
        }

        .post-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 10px;
        }

        .name, .time {
            flex-grow: 1; /* 允许这些元素填充额外空间 */
            white-space: nowrap; /* 防止内容折行 */
            overflow: hidden;
            text-overflow: ellipsis; /* 超出部分显示省略号 */
        }

        .post-header img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        .post-header .name {
            font-weight: bold;
            font-size: 16px;
            margin-right: 20px;
        }

        .post-header .time {
            margin-left: auto;
            color: #777;
            font-size: 0.9em;
        }

        .post-content {
            margin-bottom: 10px;
            font-size: 20px;
        }


        .image-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 创建三列 */
            gap: 10px; /* 设置列与列之间的间隔 */
        }

        .responsive-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .image-container div {
            position: relative;
            width: 100%;
            padding-top: 100%;
            overflow: hidden;
        }

        .image-container img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }


        .post-actions {
            border-top: 1px solid #eee;
            padding-top: 9px;
            display: flex;
            justify-content: space-around;
            font-size: 1.2em;
            color: #555;
            height: 30px;
        }

        .post-actions img {
            height: 25px;
            margin-right: 5px;
            margin-top: -3px;
        }

        .post-actions span:hover {
            cursor: pointer;
        }


        .left-bar-tools {
            margin-left: 30px;
            text-align: left;
        }

        .tool-bar {
            height: 70px;
        }

        .tool {
            font-size: 25px;
            margin-top: 10px;
        }

        .left-bar-tools img {
            height: 25px;
            margin-right: 10px;
            margin-bottom: 12px;
        }

        .avatar {
            height: 150px;
            text-align: center;
        }

        .avatar img {
            border-radius: 50%;
            height: 100px;
            margin-right: 40px;
            margin-top: 10px;
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
            }
            100% {
                transform: scale(1);
            }
        }

        .like-icon.pulse {
            animation: pulse 0.6s;
        }

        /* 添加至现有CSS之后 */
        @keyframes particle-rise {
            0% {
                opacity: 1;
                transform: translate(0, 0);
            }
            100% {
                opacity: 0;
                transform: translate(0, -20px);
            }
        }

        .particle {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            pointer-events: none; /* 确保粒子不会干扰点击事件 */
        }

        @keyframes heartbeat {
            0%, 100% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.7); /* 放大的幅度 */
            }
        }


        .heartbeat {
            animation: heartbeat 0.8s ease-in-out;
        }

        .time {
            color: black;
            width: 200px;
            height: 15px;
        }

        #comment-body {
            padding-left: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        .custom-modal-container {
            display: flex;
            max-width: 1200px;
        }

        .custom-modal-left {
            flex: 1;
            padding: 1em;
        }

        .custom-modal-left img {
            width: 100%;
            height: auto;
            max-height: 600px; /* 或者您想要的任何尺寸 */
        }

        .custom-modal-right {
            flex: 1;
            padding: 1em;
            max-height: 600px;
            overflow-y: auto; /* 使评论部分可滚动 */
        }

        .custom-modal-comment-input {
            margin-top: 1em;
        }

        .custom-modal-comment-input textarea {
            width: 100%;
            margin-bottom: 0.5em;
            font-size: 20px;
            height: 100px;
        }

        .custom-modal-comment-input button {
            float: right;
        }

        .custom-swal-container {
            /* 可能需要的容器样式 */
        }

        .custom-swal-popup {
            box-sizing: border-box;
            padding: 0;
        }

        .custom-swal-content {
            padding: 0;
        }

        .comment-input-container {
            position: relative;
            padding: 10px;
        }

        .comment-input-container textarea {
            width: 100%;
            margin-bottom: 50px;
            margin-top: 15px;
        }

        .comment-input-container .btn-primary {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }

        .moment-comment {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 15px;
        }

        .dropdown {
            cursor: pointer;
        }

        .dropdown-menu {
            visibility: hidden;
            opacity: 0;
            transform: scale(0.5);
            transition: opacity 0.5s ease, transform 0.5s ease;
            position: absolute; /* 绝对定位 */
            left: 0; /* 根据需要调整 */
            top: 100%; /* 位于触发元素的正下方 */
        }

        .dropdown.show-dropdown .dropdown-menu {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }

        .delete-post {
            color: red;
        }

        /* 当父元素有show-avatar-dropdown类时显示下拉菜单 */
        .show-avatar-dropdown .dropdown-user-menu {
            display: block;
        }

        /* 下拉菜单基本样式 */
        .dropdown-user-menu {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            list-style-type: none;
            padding: 0;
            border-radius: 15px;
        }

        .dropdown-user-menu a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-user-menu a:hover {
            background-color: #f1f1f1
        }

        .responsive-video {
            width: 768px;
        }

        .video-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            overflow: hidden;
            width: 100%;
        }

        .responsive-video {
            width: auto;
            max-height: 90vh;
            height: auto;
        }

        .video-modal {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.5); /* 半透明的黑色背景 */
        }

        .video-modal img {
            opacity: 0.5;
            height: 65px;
        }

        .left-bar-menu {
            height: 30px;
            width: 30px;
            display: flex;
        }


    </style>
    <div class="friends">
        <div class="left-bar col-xs-3">
            <div class="left-bar-tools">
                <div class="avatar">
                    <a href="/profile/">
                        {% if not request.user.is_authenticated %}
                            {#                            <img src="/media/profile/default.png">#}
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/profile/default.png">
                        {% elif request.user and not user_info.avatar %}
                            {#                            <img src="/media/profile/default.png">#}
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/profile/default.png">
                        {% else %}
                            {#                            <img src="/media/{{ user_info.avatar }}">#}
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/{{ user_info.avatar }}">
                        {% endif %}
                    </a>
                </div>
                <div class="friends tool-bar">
                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/friends.png">
                    <span class="tool">Friends</span>
                </div>
                <div class="market tool-bar">
                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/market.png"
                         style="height: 25px !important;">
                    <span class="tool">Marketplace</span>
                </div>
                <div class="favourite tool-bar">
                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/favourite.png">
                    <span class="tool">Favourite</span>
                </div>
            </div>
        </div>


        <div class="right-bar col-xs-9" id="right-bar">
            <span class="left-bar-menu">
{#                <img src="/media/menu.png">#}
            </span>
            <div class="post-square">
                <button class="post-input btn" data-toggle="modal"
                        data-target="#exampleModal">
                    Share your music experience!
                </button>
            </div>

            {% for item in queryset %}

                <div class="post-container">
                    <div class="post-header">
                        <span class="dropdown">
                            <span class="dropdown-toggle avatar-dropdown" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                <img src="{{ item.user.avatar.url }}" alt="profile picture">
                            </span>
                            <ul class="dropdown-user-menu" aria-labelledby="dropdownMenuButton{{ item.id }}">
                                <li><a href="/profile/">Profile</a></li>
                                <li><a href="{% url 'chat' %}?with={{ item.user.username }}">Chat</a></li>
                            </ul>
                        </span>
                        <span class="name">{{ item.user.username }}</span>
                        <span class="time">{{ item.created_at|date:"M d, Y g:i a" }}</span>
                        <span class="dropdown">
                            <span class="more-options dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false"><img style="width:25px; height:25px; opacity: 70%;"
                                                             src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/more.png"></span>
                            {% if request.user.is_authenticated and item.user == request.user %}
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a class="delete-post" data-post-id="{{ item.id }}" href="javascript:void(0);"
                                       style="color: #CB1212">Delete Post</a></li>
                            </ul>
                            {% else %}
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="/#/">Not Interested</a></li>
                                <li><a href="/#/">Follow User</a></li>
                                <li><a href="/#/">Block User</a></li>
                            </ul>
                            {% endif %}
                        </span>
                    </div>
                    <div class="post-content">
                        {{ item.content }}
                    </div>
                    {% if item.image_urls %}
                        <div class="image-container">
                            {% for image_url in item.image_urls %}
                                <div>
                                    <img src="{{ image_url }}" class="responsive-img" loading="lazy">
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if item.video_urls %}
                        <div class="video-container">
                            {% for video_url in item.video_urls %}
                                <div class="video-container">
                                    <video controls class="responsive-video" autoplay muted>
                                        <source src="{{ video_url }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <div class="video-modal" onclick="play(this)">
                                        <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/play.png"
                                             style="opacity: 0.5; height: 65px;">
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    {% endif %}

                    <div class="post-actions">
                        <span class="like" data-post-id="{{ item.id }}">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/{{ item.is_liked|yesno:'like_red.png,like_grey.png' }}"
                                 class="like-icon"
                                 id="like-img-{{ item.id }}">
                            <span id="like-count-{{ item.id }}">{{ item.likes_count }}</span>
                        </span>

                        <span class="comment" data-post-id="{{ item.id }}">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/comment.png">
                        </span>
                        <span id="share">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/share.png">
                        </span>
                    </div>
                    <div id="commentInput-{{ item.id }}" class="comment-input-container" style="display:none;">
                        <textarea class="form-control" placeholder="Write a comment..."></textarea>
                        <button class="btn btn-primary submit-comment" data-post-id="{{ item.id }}">Comment</button>
                    </div>
                    <div class="comments-container">
                        {% with item.comments.all|slice:":5" as initial_comments %}
                            {% for comment in initial_comments %}
                                <div class="moment-comment">
                                    <strong>
                                        <span>
                                            <img src="{{ comment.user.avatar.url }}"
                                                 style="height: 30px; border-radius: 50%">
                                        </span>
                                        <span
                                                class="moment-comment-name">{{ comment.user.username }}
                                        </span>
                                    </strong>: {{ comment.content }}
                                </div>
                            {% endfor %}
                        {% endwith %}
                        {% if item.comments.count > 5 %}
                            <button class="btn btn-link load-more-comments" data-post-id="{{ item.id }}"
                                    data-offset="5">Load more
                                comments
                            </button>
                        {% endif %}
                    </div>

                </div>

            {% endfor %}


        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Create a post</h4>
                </div>
                <div class="modal-body">
                    <form action="/upload-to-s3/" method="post" enctype="multipart/form-data" id="myForm">
                        <div class="form-group">
                            <textarea class="form-control" id="message-text"
                                      placeholder="Share what's new to you!"></textarea>
                        </div>
                        <label for="message-text" class="more-content-title control-label">Add more contents:</label>
                        <div class="upload-pic">
                            <a href="#" id="toggle-upload">
                                <img style="margin-right: 5px"
                                     src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/pic.png">
                            </a>
                            <a href="#">
                                <img style="height: 31px !important; margin-bottom: 2px;"
                                     src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/location.png">
                            </a>
                        </div>

                        <!-- Dropzone Form placeholder -->
                        <div id="my-great-dropzone" class="dropzone dz-clickable dropzone-box" style="display:none;">
                            <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="post-button">Post</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Image Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="" id="imageModalSrc" style="width: 100%;"> <!-- 留空的src，稍后用JS填充 -->
                </div>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {#    <script src="https://cdn.jsdelivr.net/npm/dropzone@5.7.0/dist/min/dropzone.min.js"></script>#}



    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
        Dropzone.autoDiscover = false;

        $(document).ready(function () {
            var imageUrls = [];  // 存储图片URLs
            var videoUrls = [];  // 存储视频URLs
            var isSubmitting = false;  // 标志是否正在提交中，防止重复提交
            var uploadsComplete = true;  // 跟踪文件是否上传完成

            // 初始化Dropzone
            var myDropzone = new Dropzone("#my-great-dropzone", {
                url: "/upload-to-s3/",
                paramName: "file",
                maxFilesize: 100,
                acceptedFiles: 'image/*, video/*',
                addRemoveLinks: true,
                autoProcessQueue: true,
                parallelUploads: 9,
                init: function () {
                    this.on('addedfile', function () {
                        uploadsComplete = false;
                        $('#post-button').prop('disabled', true);  // 禁用Post按钮
                    });
                    this.on('success', function (file, response) {
                        if (file.type.startsWith('image/')) {
                            imageUrls.push(response.file_url);
                        } else if (file.type.startsWith('video/')) {
                            videoUrls.push(response.file_url);
                        }
                    });
                    this.on('queuecomplete', function () {
                        uploadsComplete = true;  // 所有文件上传完成
                        $('#post-button').prop('disabled', false);  // 启用Post按钮
                    });
                    this.on('error', function () {
                        uploadsComplete = true;  // 出错时也视为上传流程结束
                        $('#post-button').prop('disabled', false);  // 启用Post按钮
                    });
                }
            });

            $('#post-button').on('click', function (e) {
                e.preventDefault();
                if (!isSubmitting && uploadsComplete) {  // 检查是否有文件上传且未提交
                    isSubmitting = true;
                    submitPost();  // 提交Post
                } else {
                    alert('Please wait until all uploads are complete.');
                }
            });

            function submitPost() {
                var postData = {
                    content: $('#message-text').val(),
                    imageUrls: imageUrls,
                    videoUrls: videoUrls
                };
                $.ajax({
                    type: "POST",
                    url: "/save-moment/",
                    contentType: "application/json",
                    data: JSON.stringify(postData),
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (response) {
                        console.log("Post submitted successfully.");
                        $('#exampleModal').modal('hide');
                        location.reload();  // 重新加载页面显示新帖子
                    },
                    error: function (error) {
                        console.error("Error submitting post:", error);
                    },
                    complete: function () {
                        resetForm();  // 重置表单和标志
                    }
                });
            }

            function resetForm() {
                imageUrls = [];
                videoUrls = [];
                $('#message-text').val('');
                isSubmitting = false;  // 重置提交标志
                uploadsComplete = true;  // 重置上传完成标志
                $('#post-button').prop('disabled', false);  // 启用Post按钮
            }

            // 模态框显示时重置数据
            $('#exampleModal').on('show.bs.modal', function (e) {
                resetForm();  // 清空图片和视频URL数组以及输入内容
            });

            // 上拉下拉
            $('#toggle-upload').click(function (e) {
                e.preventDefault();
                var dz = $("#my-great-dropzone");
                if (dz.is(":visible")) {
                    dz.slideUp();
                } else {
                    dz.slideDown();
                }
            });

            // 展示更大的image
            $(document).on('click', '.image-container img', function () {
                var src = $(this).attr('src');
                $('#imageModalSrc').attr('src', src);
                $('#imageModal').modal('show');
            });

            // comment
            $(document).on('click', '#comment', function () {
                // 尝试找到当前 post-container 内 post-content 下的第一张图片
                var imgSrc = $(this).closest('.post-container').find('.post-content img:first').attr('src');
                // 如果找到了图片，则设置图片并显示模态框
                if (imgSrc) {
                    $('#commentImageSrc').attr('src', imgSrc);
                    $('#commentImageSrc').show();
                } else {
                    // 如果没有找到图片，隐藏<img>元素
                    $('#commentImageSrc').hide();
                }
                $('#commentModal').modal('show');
            });
        });


        $(document).on('click', '.like', function (e) {
            var postId = $(this).data('post-id');
            var likeIcon = $('#like-img-' + postId);
            var iconOffset = likeIcon.offset();
            var colors = ['#ff4500', '#ffac40', '#ff77ab', '#00d4ff', '#4dff4d'];

            for (let i = 0; i < 25; i++) {
                let particle = $('<div class="particle"></div>');
                $('body').append(particle);

                particle.css('background-color', colors[Math.floor(Math.random() * colors.length)]);

                particle.css({
                    left: iconOffset.left + likeIcon.width() / 2 + 'px',
                    top: iconOffset.top + likeIcon.height() / 2 + 'px'
                });

                let angle = Math.random() * Math.PI * 2;
                let speed = 50 + Math.random() * 100;

                let targetX = Math.cos(angle) * speed;
                let targetY = Math.sin(angle) * speed;

                particle.animate({
                    left: '+=' + targetX + 'px',
                    top: '+=' + targetY + 'px',
                    opacity: 0,
                }, 700, "linear", function () {
                    particle.remove();
                });
            }

            $.ajax({
                url: '/like-post/',
                method: 'POST',
                data: JSON.stringify({post_id: postId}),
                contentType: 'application/json',
                headers: {'X-CSRFToken': csrftoken},
                success: function (response) {
                    if (response.liked) {
                        $('#like-img-' + postId).attr('src', 'https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/like_red.png').addClass('heartbeat');
                        $('#like-count-' + postId).text(response.like_count); // 更新点赞数量
                    } else {
                        $('#like-img-' + postId).attr('src', 'https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/like_grey.png').removeClass('heartbeat'); // 更换为未点赞的图标路径
                        $('#like-count-' + postId).text(response.like_count); // 更新点赞数量
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error in liking post:", error);
                }
            });
        });

    </script>

    <script>
        $(document).ready(function () {
            $(document).on('click', '.comment', function () {
                var postId = $(this).data('post-id');
                var commentInput = $('#commentInput-' + postId);

                // 检查当前状态并相应地展开或收起
                if (commentInput.is(":visible")) {
                    commentInput.slideUp();
                } else {
                    commentInput.slideDown();
                }
            });


            $(document).on('click', '.submit-comment', function () {
                var postId = $(this).data('post-id');
                var commentText = $('#commentInput-' + postId + ' textarea').val();

                if (commentText) {
                    $.ajax({
                        type: "POST",
                        url: "/submit-moment-comment/",
                        contentType: "application/json",
                        data: JSON.stringify({post_id: postId, comment: commentText}),
                        headers: {'X-CSRFToken': csrftoken},
                        success: function (response) {
                            console.log("Comment submitted successfully.");
                            $('#commentInput-' + postId + ' textarea').val('');
                            $('#commentInput-' + postId).slideUp();
                            location.reload();
                        },
                        error: function (error) {
                            console.error("Error submitting comment:", error);
                        }
                    });
                }
            });
        });
    </script>

    {#   load more comments#}
    <script>
        $(document).ready(function () {
            $('.load-more-comments').on('click', function () {
                var postId = $(this).data('post-id');
                var $button = $(this);

                // 确保从按钮获取最新的 data-offset 值
                var currentOffset = $button.data('offset');

                $.ajax({
                    url: '/load-more-comments/',
                    method: 'GET',
                    data: {
                        'post_id': postId,
                        'offset': currentOffset  // 使用从按钮获取的 offset
                    },
                    success: function (response) {
                        // 插入新加载的评论HTML到按钮之前
                        $button.before(response.comments_html);
                        // 更新按钮上的 data-offset 值，用于下次点击事件
                        if (response.has_more) {
                            $button.data('offset', currentOffset + response.limit);  // 使用后端返回的 limit 更新 offset
                        } else {
                            $button.remove(); // 如果没有更多评论，移除按钮
                        }
                    },
                    error: function (error) {
                        console.log('Error loading more comments:', error);
                    }
                });
            });
        });
    </script>

    {#    more options#}
    <script>
        // more options
        $(document).ready(function () {
            $('.more-options').click(function () {
                var $dropdownMenu = $(this).next('.dropdown-menu');

                // 切换 show-dropdown 类来控制下拉菜单的显示与隐藏
                if ($dropdownMenu.parent().hasClass('show-dropdown')) {
                    $dropdownMenu.parent().removeClass('show-dropdown');
                } else {
                    // 先隐藏所有其他下拉菜单
                    $('.dropdown').removeClass('show-dropdown');
                    $dropdownMenu.parent().addClass('show-dropdown');
                }
            });
            // 点击其他地方隐藏下拉菜单
            $(document).click(function (e) {
                if (!$(e.target).closest('.dropdown').length) {
                    $('.dropdown').removeClass('show-dropdown');
                }
            });
        });

        // avatar dropdown
        $(document).ready(function () {
            $('.avatar-dropdown').click(function () {
                var $dropdownMenu = $(this).next('.dropdown-user-menu');

                if ($dropdownMenu.parent().hasClass('show-avatar-dropdown')) {
                    $dropdownMenu.parent().removeClass('show-avatar-dropdown');
                } else {
                    // 先隐藏所有其他下拉菜单
                    $('.dropdown').removeClass('show-avatar-dropdown');
                    $dropdownMenu.parent().addClass('show-avatar-dropdown');
                }
            });

            // 点击其他地方隐藏下拉菜单
            $(document).click(function (e) {
                if (!$(e.target).closest('.dropdown').length) {
                    $('.dropdown').removeClass('show-avatar-dropdown');
                }
            });
        });

        // 删除post
        $(document).on('click', '.delete-post', function () {
            var postId = $(this).data('post-id');
            $.ajax({
                url: '/delete-post/' + postId + '/',
                method: 'POST',
                data: {
                    'csrfmiddlewaretoken': getCookie('csrftoken'),
                },
                success: function (response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        alert("Could not delete the post.");
                    }
                }
            });
        });

    </script>

    <script>
        function play(element) {
            // 获取点击的蒙层对应的视频元素
            let vdo = element.previousElementSibling;
            let modal = element;

            // 尝试播放视频（如果浏览器阻止自动播放，则可能需要用户交互）
            vdo.play().then(() => {
                // 播放成功后，取消静音并隐藏蒙层
                vdo.muted = false;
                modal.style.display = "none";
            }).catch(err => {
                // 如果播放失败，显示蒙层提示用户手动播放
                console.log("播放失败，需要用户手动交互", err);
                modal.style.display = "flex";
                modal.addEventListener("click", () => play(element), {once: true});
            });
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var videos = document.querySelectorAll('.responsive-video');

            function checkVisibility() {
                videos.forEach(function (video) {
                    var videoRect = video.getBoundingClientRect();
                    var videoHeight = videoRect.height;
                    var visibleHeight = Math.min(window.innerHeight, videoRect.bottom) - Math.max(0, videoRect.top);

                    // 计算可见高度占视频总高度的百分比
                    var visibilityPercentage = (visibleHeight / videoHeight) * 100;

                    if (visibilityPercentage < 30) {
                        video.pause();
                    } else {
                        video.play();
                    }
                });
            }

            // 监听滚动事件并检查视频的可见性
            window.addEventListener('scroll', checkVisibility);
            window.addEventListener('resize', checkVisibility); // 在窗口大小改变时也进行检查

            // 初始检查
            checkVisibility();
        });
    </script>



{% endblock %}