{% extends "layout.html" %}

{% block content %}

    <style>
        body {
            background-image: url('https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/black_down.jpg');
            background-size: 100% 400%; /* 拉伸背景图像以适应整个页面 */
            background-position: center; /* 居中对齐 */
            background-repeat: no-repeat; /* 不重复背景 */
            margin: 0; /* 确保背景从页面的顶部开始 */
            min-height: 250vh; /* 页面高度 */
        }

        @media (max-width: 576px) {
            #first-item {
                margin-left: 600px;
            }

            h1 {
                color: #D18AA3 !important;
            }

            .logo-container {
                margin-top: 30px;
                width: 100%;
            }

            .logo {
                width: 100% !important;
            }
        }


        h1 {
            text-align: center;
            margin-top: 20px;
            font-family: "Briem Hand", cursive;
            font-weight: 900;
            font-style: normal;
            font-size: 75px;
            color: black;
        }

        .first-chart {
            width: 100%;
            background-color: white;
            margin-top: 50px;
        }


        .first-chart-title {
            margin-top: 15px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .first-chart-line {
            height: 14px;
            width: 27%;
            background-color: #007bff;
            display: inline-block;
        }

        .first-chart-word {
            margin-left: -35px;
            margin-right: -35px;
            margin-bottom: 10px;
            font-size: 40px;
            font-weight: 500;
            color: #007bff;
            font-family: "Briem Hand", cursive;
        }

        .first-chart-body {
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-x: auto;
        }

        .first-chart-item {
            margin: 0 20px 20px;
            height: 230px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            min-width: 300px;
        }

        .first-chart-foot {
            background-color: black;
            height: 40px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Briem Hand", cursive;
            font-size: 25px;
            color: white;
            padding-bottom: 5px;
        }

        .first-chart-foot a {
            text-decoration: none;
            color: white;
        }

        .first-chart-foot:hover {
            background-color: #f0f0f0;
            color: black;
        }

        .first-chart-pic {
            margin-top: 20px;
            height: 100px;
            width: 100px;
            margin-left: -10px;
        }

        .first-chart-rank {
            width: 100%;
            position: absolute;
            left: 0;
            margin-top: 5px;
        }

        .first-chart-number {
            font-size: 40px;
            font-weight: 700;
        }

        .first-chart-song-name {
            display: block;
            margin-top: 45%;
            left: 0;
            font-size: 18px;
            font-weight: 500;
        }

        .first-chart-artist-name {
            display: block;
            left: 0;
            font-size: 15px;
            font-weight: 400;
        }

        .first-chart-down-half {
            height: 40%;
            width: 100%;
            background-color: lightgrey;
            bottom: 0;
            position: absolute;
            left: 0;
            color: #002FA7;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .second-chart {
            width: 40%;
            background-color: white;
            margin-top: 50px;
            height: 50rem;
            position: relative;
        }

        .second-chart-title {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #007bff;
            color: white;
            height: 20%;
            font-size: 25px;
            font-weight: 700;
        }

        .second-chart-item {
            height: 30%;
            overflow: hidden;
        }


        .second-chart-rank {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .second-chart-number {
            display: inline;
            font-size: 30px;
            font-weight: 700;
            color: black;
        }

        .second-chart-rank img {
            height: 40px;
            margin-left: 10px;
        }

        .second-chart-song-info {
            text-align: left;
            margin-left: -20px;
            margin-top: -10px;
        }

        .second-chart-song-name {
            font-size: 18px;
            font-weight: 700;
            margin-top: 10px;
        }

        .second-chart-artist-name {
            font-size: 15px;
            font-weight: 500;
        }

        .second-chart-pic {
            width: 134px;
            display: inline-block;
        }

        .second-chart-pic img {
            width: 100%;
            height: 100%;
        }

        .logo {
            width: 80%;
        }

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>

    <div class="logo-container">
{#        <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/logo1.png" class="logo">#}
                <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/logo4.png" class="logo">
    </div>
    <div class="container" id="main-container">
        <div class="first-chart" id="first-chart">
            <div class="first-chart-title">
                <hr class="first-chart-line">
                <span class="first-chart-word">MusicTop Hot 100</span>
                <hr class="first-chart-line">
            </div>

            <div class="first-chart-body">
                <div class="col-xs-3 first-chart-item" id="first-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/3_Enough_Cardi_B.jpg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">1</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                Enough
                            </div>
                            <div class="first-chart-artist-name">Cardi B</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>
                <div class="col-xs-3 first-chart-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/43_Lover_Taylor_Swift.jpg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">2</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                Lover
                            </div>
                            <div class="first-chart-artist-name">Taylor Swift</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>
                <div class="col-xs-3 first-chart-item" id="coco">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/22_What_Was_I_Made_For%3F_Billie_Eilish.jpg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">3</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                What Was I Made For?
                            </div>
                            <div class="first-chart-artist-name">Billie Eilish</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>


            </div>
            <a href="/rank/">
                <div class="first-chart-foot">
                    VIEW CHART
                </div>
            </a>
        </div>

        <div class="first-chart" id="second-chart">
            <div class="first-chart-title">
                <hr class="first-chart-line">
                <span class="first-chart-word">MusicTop Ratings 100</span>
                <hr class="first-chart-line">
            </div>

            <div class="first-chart-body">
                <div class="col-xs-3 first-chart-item" id="first-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/3_Enough_Cardi_B.jpg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">1</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                Enough
                            </div>
                            <div class="first-chart-artist-name">Cardi B</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>
                <div class="col-xs-3 first-chart-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/43_Lover_Taylor_Swift.jpg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">2</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                Lover
                            </div>
                            <div class="first-chart-artist-name">Taylor Swift</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>
                <div class="col-xs-3 first-chart-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/22_What_Was_I_Made_For%3F_Billie_Eilish.jpg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">3</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                What Was I Made For?
                            </div>
                            <div class="first-chart-artist-name">Billie Eilish</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>


            </div>
            <a href="/rank/">
                <div class="first-chart-foot">
                    VIEW CHART
                </div>
            </a>
        </div>


        <div class="first-chart" id="third-chart">
            <div class="first-chart-title">
                <hr class="first-chart-line" style="width: 20% !important;">
                <span class="first-chart-word">MusicTop Global Top 100</span>
                <hr class="first-chart-line" style="width: 20% !important;">
            </div>

            <div class="first-chart-body">
                <div class="col-xs-3 first-chart-item" id="first-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/3_Enough_Cardi_B.jpg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">1</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                Enough
                            </div>
                            <div class="first-chart-artist-name">Cardi B</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>
                <div class="col-xs-3 first-chart-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/43_Lover_Taylor_Swift.jpg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">2</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                Lover
                            </div>
                            <div class="first-chart-artist-name">Taylor Swift</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>
                <div class="col-xs-3 first-chart-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/22_What_Was_I_Made_For%3F_Billie_Eilish.jpg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">3</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                What Was I Made For?
                            </div>
                            <div class="first-chart-artist-name">Billie Eilish</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>


            </div>
            <a href="/rank/">
                <div class="first-chart-foot">
                    VIEW CHART
                </div>
            </a>
        </div>

        {#        <div class="second-chart">#}
        {#            <div class="second-chart-title">#}
        {#                MusicTop GOAT 200#}
        {#            </div>#}
        {#            <div class="second-chart-body">#}
        {#                <div class="second-chart-item">#}
        {#                    <div class="col-xs-3 second-chart-rank">#}
        {#                        <div class="second-chart-number">#}
        {#                            1#}
        {#                        </div>#}
        {#                        <div class="second-chart-change">#}
        {#                            <img src="/media/up_arrow.png">#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <div class="col-xs-6 second-chart-song-info">#}
        {#                        <div class="second-chart-song-name">#}
        {#                            The Tortured Poets Department#}
        {#                        </div>#}
        {#                        <div class="second-chart-artist-name">#}
        {#                            Taylor Swift#}
        {#                        </div>#}
        {#                    </div>#}
        {##}
        {#                    <div class="second-chart-pic">#}
        {#                        <img src="https://i.scdn.co/image/ab67616d0000b2735076e4160d018e378f488c33">#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="second-chart-foot">#}
        {#                VIEW CHART#}
        {#            </div>#}
        {#        </div>#}


        <div class="third-chart"></div>
    </div>

    <script>
        window.onload = window.onresize = function () {
            checkContainerClass();
        };

        function checkContainerClass() {
            // 定义媒体查询条件，替换为你的 @media 规则
            var mediaQuery = window.matchMedia('(max-width: 576px)');

            // 获取 main-container 元素
            var container = document.getElementById('main-container');
            console.log('Checking container class...'); // 日志输出，帮助调试

            // 根据媒体查询条件来移除或添加类
            if (mediaQuery.matches) {
                console.log('Media query matches (max-width: 576px). Removing container class.');
                container.classList.remove('container');
            } else {
                console.log('Media query does not match. Adding container class.');
                container.classList.add('container');
            }
        }


    </script>


{% endblock %}