{% extends "layout.html" %}

{% block content %}

    <style>
        body {
            background-image: url('https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/black_down.jpg');
            background-size: 100% 800%; /* 拉伸背景图像以适应整个页面 */
            background-position: center; /* 居中对齐 */
            background-repeat: no-repeat; /* 不重复背景 */
            margin: 0; /* 确保背景从页面的顶部开始 */
            min-height: 300vh; /* 页面高度 */
        }

        @media (max-width: 576px) {
            #first-item {
                margin-left: 600px;
            }

            h1 {
                color: #D18AA3 !important;
            }

            .logo-container {
                margin-top: 30px;
                width: 100%;
            }

            .logo {
                width: 100% !important;
            }
        }


        h1 {
            text-align: center;
            margin-top: 20px;
            font-family: "Briem Hand", cursive;
            font-weight: 900;
            font-style: normal;
            font-size: 75px;
            color: black;
        }

        .first-chart {
            width: 100%;
            background-color: white;
            margin-top: 50px;
        }


        .first-chart-title {
            margin-top: 15px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .first-chart-line {
            height: 14px;
            width: 27%;
            background-color: #007bff;
            display: inline-block;
        }

        .first-chart-word {
            margin-left: -35px;
            margin-right: -35px;
            margin-bottom: 10px;
            font-size: 40px;
            font-weight: 500;
            color: #007bff;
            font-family: "Briem Hand", cursive;
        }

        .first-chart-body {
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-x: auto;
        }

        .first-chart-item {
            margin: 0 20px 20px;
            height: 230px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            min-width: 300px;
        }

        .first-chart-foot {
            background-color: black;
            height: 40px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Briem Hand", cursive;
            font-size: 25px;
            color: white;
            padding-bottom: 5px;
        }

        .first-chart-foot a {
            text-decoration: none;
            color: white;
        }

        .first-chart-foot:hover {
            background-color: #f0f0f0;
            color: black;
        }

        .first-chart-pic {
            margin-top: 20px;
            height: 100px;
            width: 100px;
            margin-left: -10px;
        }

        .first-chart-rank {
            width: 100%;
            position: absolute;
            left: 0;
            margin-top: 5px;
        }

        .first-chart-number {
            font-size: 40px;
            font-weight: 700;
        }

        .first-chart-song-name {
            display: block;
            margin-top: 45%;
            left: 0;
            font-size: 18px;
            font-weight: 500;
        }

        .first-chart-artist-name {
            display: block;
            left: 0;
            font-size: 15px;
            font-weight: 400;
        }

        .first-chart-down-half {
            height: 40%;
            width: 100%;
            background-color: lightgrey;
            bottom: 0;
            position: absolute;
            left: 0;
            color: #002FA7;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .second-chart {
            width: 40%;
            background-color: white;
            margin-top: 50px;
            height: 50rem;
            position: relative;
        }

        .second-chart-title {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #007bff;
            color: white;
            height: 20%;
            font-size: 25px;
            font-weight: 700;
        }

        .second-chart-item {
            height: 30%;
            overflow: hidden;
        }


        .second-chart-rank {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .second-chart-number {
            display: inline;
            font-size: 30px;
            font-weight: 700;
            color: black;
        }

        .second-chart-rank img {
            height: 40px;
            margin-left: 10px;
        }

        .second-chart-song-info {
            text-align: left;
            margin-left: -20px;
            margin-top: -10px;
        }

        .second-chart-song-name {
            font-size: 18px;
            font-weight: 700;
            margin-top: 10px;
        }

        .second-chart-artist-name {
            font-size: 15px;
            font-weight: 500;
        }

        .second-chart-pic {
            width: 134px;
            display: inline-block;
        }

        .second-chart-pic img {
            width: 100%;
            height: 100%;
        }

        .logo {
            width: 80%;
        }

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .gallery-container {
            width: 100%;
            overflow: hidden;
            margin-top: 50px;
            position: relative;
            height: 270px; /* 增加高度以确保图片显示 */
        }

        /* 图片滚动区域的样式 */
        .gallery-content {
            display: flex;
            white-space: nowrap;
            position: absolute;
            left: 0; /* 初始化位置从0开始 */
        }

        /* 图片的样式 */
        .gallery-content img {
            margin: 0 10px;
            height: 250px; /* 固定高度 */
            width: 250px; /* 固定宽度 */
            border: 1px solid gray;
        }

        .video-logo-container {
            position: relative;
            width: 100%;
            height: 40vh; /* 100% - 30% */
            overflow: hidden;
            z-index: 0;
        }

        /* Full-screen video inside the wrapper */
        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }


        .mask-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-image: url("https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/word1.png");
            background-size: cover;
            background-position: center;
            transform: scale(150);
            animation: shrinkToFull 2.5s ease forwards;
        }

        @keyframes shrinkToFull {
            0% {
                transform: scale(150);
            }
            100% {
                transform: scale(1.5);
            }
        }

        @media (max-width: 576px) {
            .video-logo-container {
                height: 25vh !important;
            }
        }


    </style>

    {#    <div class="logo-container">#}
    {#        <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/logo1.png" class="logo">#}
    {#        <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/logo4.png" class="logo">#}
    {#    </div>#}

    <div class="video-logo-container">
        <!-- Play video -->
        <video src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/bgv2.mp4" autoplay loop muted playsinline></video> <!-- Replace with your video path -->
        <!-- Mask container to directly show the image -->
        <div class="mask-container"></div>
    </div>



    <div class="gallery-container">
        <div class="gallery-content" id="gallery1">

            <img src="https://i.scdn.co/image/ab67616d0000b2738ecc33f195df6aa257c39eaa" alt="Image 2">
            <img src="https://i.scdn.co/image/ab67616d0000b273e5a25ed08d1e7e0fbb440cef" alt="Image 3">
            <img src="https://i.scdn.co/image/ab67616d0000b2739b9b36b0e22870b9f542d937" alt="Image 1">
            <img src="https://i.scdn.co/image/ab67616d0000b273c5716278abba6a103ad13aa7" alt="Image 1">
            <img src="https://i.scdn.co/image/ab67616d0000b273d441b2e9b63f0b9f9d90be19" alt="Image 1">
            <img src="https://i.scdn.co/image/ab67616d0000b2737c68face1dc58127f3a7b1cc" alt="Image 4">
            <img src="https://i.scdn.co/image/ab67616d0000b273b5d4b4ed17ec86c4b3944af2" alt="Image 5">
            <img src="https://i.scdn.co/image/ab67616d0000b2734973a7d9304de53e18583220" alt="Image 1">
            <img src="https://i.scdn.co/image/ab67616d0000b273c5649add07ed3720be9d5526" alt="Image 1">
            <img src="https://i.scdn.co/image/ab67616d0000b273879e9318cb9f4e05ee552ac9" alt="lana">

        </div>
    </div>

    <div class="container" id="main-container">
        <div class="first-chart" id="first-chart">
            <div class="first-chart-title">
                <hr class="first-chart-line">
                <span class="first-chart-word">MusicTop Hot 100</span>
                <hr class="first-chart-line">
            </div>

            <div class="first-chart-body">
                <div class="col-xs-3 first-chart-item" id="first-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/3_Enough_Cardi_B.jpg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">1</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                Enough
                            </div>
                            <div class="first-chart-artist-name">Cardi B</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>
                <div class="col-xs-3 first-chart-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/43_Lover_Taylor_Swift.jpg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">2</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                Lover
                            </div>
                            <div class="first-chart-artist-name">Taylor Swift</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>
                <div class="col-xs-3 first-chart-item" id="coco">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/22_What_Was_I_Made_For%3F_Billie_Eilish.jpg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">3</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                What Was I Made For?
                            </div>
                            <div class="first-chart-artist-name">Billie Eilish</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>


            </div>
            <a href="/rank/">
                <div class="first-chart-foot">
                    VIEW CHART
                </div>
            </a>
        </div>
    </div>


    <div class="gallery-container">
        <div class="gallery-content" id="gallery2">
            <img src="https://i.scdn.co/image/ab67616d0000b273f7ecaf9daf2c1d5ca89f7312" alt="ABBA">
            <img src="https://i.scdn.co/image/ab67616d0000b27359998815d706661e2c404d9f" alt="killer queen">
            <img src="https://i.scdn.co/image/ab67616d0000b273f72f1e38e9bd48f18a17ed9b" alt="Goodbye yellow brick road">
            <img src="https://i.scdn.co/image/ab67616d0000b27359ae8cf65d498afdd5585634" alt="lana">
            <img src="https://i.scdn.co/image/ab67616d0000b2731d5cf960a92bb8b03fc2be7f" alt="Image 1">
            <img src="https://i.scdn.co/image/ab67616d0000b2739e16930796a07f1195002389" alt="fuji kaze">
            <img src="https://i.scdn.co/image/ab67616d0000b273dc30583ba717007b00cceb25" alt="The Beatles">
            <img src="https://i.scdn.co/image/ab67616d0000b2734121faee8df82c526cbab2be" alt="MJ">
            <img src="https://i.scdn.co/image/ab67616d0000b273726d48d93d02e1271774f023" alt="Eminem">
            <img src="https://i.scdn.co/image/ab67616d0000b273ab5e496971b38a864fefdb8d" alt="Ding">
        </div>
    </div>

    <div class="container" id="main-container">
        <div class="first-chart" id="second-chart">
            <div class="first-chart-title">
                <hr class="first-chart-line">
                <span class="first-chart-word">MusicTop Ratings 100</span>
                <hr class="first-chart-line">
            </div>

            <div class="first-chart-body">
                <div class="col-xs-3 first-chart-item" id="first-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/snooze_vnjeOob.jpeg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">1</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                Snooze
                            </div>
                            <div class="first-chart-artist-name">SZA</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>
                <div class="col-xs-3 first-chart-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/blonde_QG6xC7m.jpeg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">2</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                Pink + White
                            </div>
                            <div class="first-chart-artist-name">Frank Ocean</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>
                <div class="col-xs-3 first-chart-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/LetTheLightIn_YUIubch.webp"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">3</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                Let the light in
                            </div>
                            <div class="first-chart-artist-name">Lana del rey</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>


            </div>
            <a href="/rank/">
                <div class="first-chart-foot">
                    VIEW CHART
                </div>
            </a>
        </div>
    </div>

    <div class="gallery-container">
        <div class="gallery-content" id="gallery3">
            <img src="https://i.scdn.co/image/ab67616d0000b27356ac7b86e090f307e218e9c8" alt="Ariana">
            <img src="https://i.scdn.co/image/ab67616d0000b273775e8184725e0fb89337dd9a" alt="Image 2">
            <img src="https://i.scdn.co/image/ab67616d0000b273125b1a330b6f6100ab19dbed" alt="Image 3">
            <img src="https://i.scdn.co/image/ab67616d0000b273b4bf5aa282f90b0f92e5d85a" alt="Eason">
            <img src="https://i.scdn.co/image/ab67616d0000b2734637341b9f507521afa9a778" alt="Eagles">
            <img src="https://i.scdn.co/image/ab67616d0000b2735f96f9df056aa682c854e720" alt="Image 1">
            <img src="https://i.scdn.co/image/ab67616d0000b273199b850d4877866cf7e318d1" alt="Stephen">
            <img src="https://i.scdn.co/image/ab67616d0000b273df55e326ed144ab4f5cecf95" alt="radiohead">
            <img src="https://i.scdn.co/image/ab67616d0000b273295e5a613cb3fb9f7ccf532e" alt="Leslie">
            <img src="https://i.scdn.co/image/ab67616d0000b273e5a95573f1b91234630fd2cf" alt="coldplay">
        </div>
    </div>

    <div class="container" id="main-container">
        <div class="first-chart" id="third-chart">
            <div class="first-chart-title">
                <hr class="first-chart-line" style="width: 20% !important;">
                <span class="first-chart-word">MusicTop Global Top 100</span>
                <hr class="first-chart-line" style="width: 20% !important;">
            </div>

            <div class="first-chart-body">
                <div class="col-xs-3 first-chart-item" id="first-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://i.scdn.co/image/ab67616d0000b273125b1a330b6f6100ab19dbed"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">1</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                Butterfly
                            </div>
                            <div class="first-chart-artist-name">Jason Marz</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>
                <div class="col-xs-3 first-chart-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/album/wonder_Yx2vcT2.jpg"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">2</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                Look up at the stars
                            </div>
                            <div class="first-chart-artist-name">Shawn Mendes</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>
                <div class="col-xs-3 first-chart-item">
                    <div class="first-chart-top-half">
                        <div class="col-xs-5">
                            <img src="https://i.scdn.co/image/ab67616d0000b2738863bc11d2aa12b54f5aeb36"
                                 class="first-chart-pic">
                        </div>
                        <div class="col-xs-7">
                            <div class="first-chart-rank">
                                <div class="col-xs-3 first-chart-number">3</div>
                                <div class="col-xs-4 first-chart-change">
                                    <img src="https://musictop-bucket.s3.ap-southeast-2.amazonaws.com/media/new.jpg"
                                         style="height: 35px; margin-top: 10px;">
                                </div>
                                <div class="col-xs-5"></div>
                            </div>
                            <div class="first-chart-song-name">
                                After Hours
                            </div>
                            <div class="first-chart-artist-name">The Weeknd</div>
                        </div>
                    </div>
                    <div class="first-chart-down-half">
                        NEW THIS WEEK!
                    </div>
                </div>


            </div>
            <a href="/rank/">
                <div class="first-chart-foot">
                    VIEW CHART
                </div>
            </a>
        </div>
    </div>


    {#        <div class="second-chart">#}
    {#            <div class="second-chart-title">#}
    {#                MusicTop GOAT 200#}
    {#            </div>#}
    {#            <div class="second-chart-body">#}
    {#                <div class="second-chart-item">#}
    {#                    <div class="col-xs-3 second-chart-rank">#}
    {#                        <div class="second-chart-number">#}
    {#                            1#}
    {#                        </div>#}
    {#                        <div class="second-chart-change">#}
    {#                            <img src="/media/up_arrow.png">#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="col-xs-6 second-chart-song-info">#}
    {#                        <div class="second-chart-song-name">#}
    {#                            The Tortured Poets Department#}
    {#                        </div>#}
    {#                        <div class="second-chart-artist-name">#}
    {#                            Taylor Swift#}
    {#                        </div>#}
    {#                    </div>#}
    {##}
    {#                    <div class="second-chart-pic">#}
    {#                        <img src="https://i.scdn.co/image/ab67616d0000b2735076e4160d018e378f488c33">#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="second-chart-foot">#}
    {#                VIEW CHART#}
    {#            </div>#}
    {#        </div>#}


    <div class="third-chart"></div>
    </div>

    <script>
        window.onload = window.onresize = function () {
            checkContainerClass();
        };

        function checkContainerClass() {
            // 定义媒体查询条件，替换为你的 @media 规则
            var mediaQuery = window.matchMedia('(max-width: 576px)');

            // 获取 main-container 元素
            var container = document.getElementById('main-container');
            console.log('Checking container class...'); // 日志输出，帮助调试

            // 根据媒体查询条件来移除或添加类
            if (mediaQuery.matches) {
                console.log('Media query matches (max-width: 576px). Removing container class.');
                container.classList.remove('container');
            } else {
                console.log('Media query does not match. Adding container class.');
                container.classList.add('container');
            }
        }


    </script>

    <script>
        // 滚动速度（像素）
        const scrollSpeed = 1;

        /**
         * 为了实现无缝滚动，我们需要重复每个画廊的内容
         */
        function duplicateContent(id) {
            const gallery = document.getElementById(id);
            const children = Array.from(gallery.children);
            children.forEach(child => {
                const clone = child.cloneNode(true);
                gallery.appendChild(clone);
            });
        }

        // 向右滚动的函数
        function scrollRight(id) {
            const gallery = document.getElementById(id);
            let position = parseInt(gallery.style.left, 10) || 0;

            function animate() {
                position -= scrollSpeed;
                if (position <= -gallery.scrollWidth / 2) {
                    position = 0;
                }
                gallery.style.left = position + 'px';
                requestAnimationFrame(animate);
            }

            animate();
        }

        // 向左滚动的函数
        function scrollLeft(id) {
            const gallery = document.getElementById(id);
            let position = parseInt(gallery.style.left, 10) || 0;

            function animate() {
                position += scrollSpeed;
                if (position >= 0) {
                    position = -gallery.scrollWidth / 2;
                }
                gallery.style.left = position + 'px';
                requestAnimationFrame(animate);
            }

            animate();
        }

        // 重复内容以实现无缝滚动
        duplicateContent('gallery1');
        duplicateContent('gallery2');
        duplicateContent('gallery3');

        // 开始滚动
        scrollRight('gallery1');
        scrollLeft('gallery2');
        scrollRight('gallery3');
    </script>



{% endblock %}